<h3 class="mb-4 text-xl text-center text-wt-primary-dark">{{ ACCOUNT_NAMES[accountType] }}</h3>

<!-- presentation -->
<div *ngIf="!isEditing && account" class="flex items-center gap-x-6">
	<button mat-stroked-button type="button" (click)="onAccountClick()" class="w-full h-16">
		<div class="flex items-center gap-x-6">
			<mat-icon>folder</mat-icon>
			<div class="flex flex-col text-start">
				<span class="text-wt-gray-light">{{ account.name }}</span>
				<span class="text-wt-gray-medium">{{ account.createdAt | date }}</span>
			</div>
		</div>
	</button>

	<button
		mat-icon-button
		(click)="onEditingToggle()"
		class="border border-solid border-wt-gray-medium color-wt-gray-medium"
	>
		<mat-icon>edit</mat-icon>
	</button>
</div>

<!-- editing -->
<ng-container *ngIf="isEditing">
	<form [formGroup]="accountForm" class="flex flex-col justify-between p-4 md:flex-row gap-x-6" (ngSubmit)="onSubmit()">
		<!-- account name -->
		<app-form-mat-input-wrapper
			class="w-full md:w-auto sm:min-w-[350px] flex-1"
			controlName="accountName"
			hintText="Enter name of your account"
		></app-form-mat-input-wrapper>

		<!-- action buttons -->
		<ng-container *ngTemplateOutlet="buttonBigScreen"></ng-container>
		<ng-container *ngTemplateOutlet="buttonSmallScreen"></ng-container>
	</form>
</ng-container>

<!-- create new account -->
<ng-container *ngIf="!account">
	<p class="w-10/12 m-auto mb-4 text-lg text-center">
		Create your personal account to have an insight into your expenses and create your own budgeting plan
	</p>
	<button mat-stroked-button (click)="onAccountCreate()" class="w-full">
		<mat-icon>add</mat-icon>
		Crate account
	</button>
</ng-container>

<!-- big screen buttons -->
<ng-template #buttonBigScreen>
	<div class="hidden md:flex c-button-wrapper">
		<button color="accent" mat-icon-button type="submit" matTooltip="Save Changes">
			<mat-icon>check</mat-icon>
		</button>
		<button mat-icon-button type="button" (click)="onEditingToggle()" matTooltip="Cancel">
			<mat-icon>close</mat-icon>
		</button>
		<button *ngIf="account" color="warn" mat-icon-button type="button" (click)="onDelete()" matTooltip="Delete Account">
			<mat-icon>delete</mat-icon>
		</button>
	</div>
</ng-template>

<!-- small screen buttons -->
<ng-template #buttonSmallScreen>
	<div class="flex md:hidden c-button-wrapper">
		<button color="accent" mat-stroked-button type="submit">
			<mat-icon>check</mat-icon>
			Save Changes
		</button>
		<button mat-stroked-button type="button" (click)="onEditingToggle()">
			<mat-icon>close</mat-icon>
			Close
		</button>
		<button *ngIf="account" color="warn" mat-stroked-button type="button" (click)="onDelete()">
			<mat-icon>delete</mat-icon>
			Delete Account
		</button>
	</div>
</ng-template>
