:host {
	display: block;
	overflow: hidden;
	position: relative;
}

.c-background-image {
	animation: rotation 60s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}

.c-background-shadow {
	width: 100%;
	height: 100%;
	background-color: #00000054;
	color: white;
	position: relative;

	display: grid;
	place-content: center;
}
