<section class="welcome-full h-[105vh]">
	<div class="c-background-image"></div>
	<div class="c-background-shadow">
		<!-- title -->
		<h1 class="mb-20 text-4xl text-center sm:text-5xl md:text-6xl lg:text-7xl 2xl:text-8xl">
			<span class="text-wt-primary-dark">Wealth</span>
			<span>Tracker</span>
		</h1>

		<!-- description -->
		<p class="w-10/12 mx-auto text-center sm:w-9/12 2xl:w-7/12 welcome-body-1">
			Helping people to gain better control of their finances by creating an oversight of their cash flow from one place
		</p>
	</div>
</section>
