:host {
	display: block;

	img {
		height: 24px;
	}

	button {
		@apply px-4 p-1 rounded-lg m-1;

		border: 1px solid var(--valueItemColor);
		border-left: 4px solid var(--valueItemColor);
		border-right: 4px solid var(--valueItemColor);
		&:hover {
			background-color: var(--valueItemColorActive);
		}
	}
}
