<!-- account total state -->
<div class="flex flex-col justify-between gap-x-8 gap-y-8 md:flex-row">
	<app-personal-account-account-state
		class="md:basis-3/4"
		[accountState]="accountTotalState$ | async"
	></app-personal-account-account-state>

	<app-personal-account-action-buttons
		(buttonClickEmitter)="onActionButtonClick($event)"
	></app-personal-account-action-buttons>
</div>

<!-- tag expense legend -->
<app-scroll-wrapper>
	<app-value-presentation-button-control
		[formControl]="filterDailyDataGroup.controls.selectedTagIds"
		[items]="yearlyExpenseTags$ | async"
		itemKey="id"
		[selectWholeItem]="false"
	></app-value-presentation-button-control>
</app-scroll-wrapper>

<div
	class="grid gap-4 lg:grid-cols-2"
	*ngIf="{
  categories: categories$ | async,
  expenseTagsChartData : totalExpenseTagsChartData$ | async ,
  accountOverviewChartData: accountOverviewChartData$ | async
} as obs;"
>
	<!-- account overview chart -->
	<app-personal-account-tag-spending-chart
		*ngIf="obs.accountOverviewChartData && obs.categories && obs.expenseTagsChartData"
		[accountOverviewChartData]="obs.accountOverviewChartData"
		[expenseTagsChartData]="obs.expenseTagsChartData"
		[categories]="obs.categories"
		[heightPx]="475"
	></app-personal-account-tag-spending-chart>

	<!-- expense chart -->
	<app-personal-account-account-growth-chart
		[accountOverviewChartData]="obs.accountOverviewChartData"
		[categories]="obs.categories"
		[heightPx]="475"
	></app-personal-account-account-growth-chart>
</div>

<!-- date filter control -->
<app-personal-account-daily-entries-filter
	(addDailyEntryClickEmitter)="onDailyEntryClick(null)"
	[formControl]="filterDailyDataGroup.controls.dateFilter"
	[personalAccountDetails]="personalAccountDetails$ | async"
></app-personal-account-daily-entries-filter>

<div class="grid items-center grid-cols-1 gap-4 lg:grid-cols-4">
	<!-- table body -->
	<div class="h-full lg:col-span-2">
		<app-personal-account-daily-entries-table
			(editDailyEntryClickEmitter)="onDailyEntryClick($event)"
			[personalAccountDailyData]="filteredDailyData$ | async"
		></app-personal-account-daily-entries-table>
	</div>

	<!-- spending allocation by tags -->
	<div *ngIf="accountFilteredState$ | async as accountState" class="lg:col-span-2 md:-mt-16">
		<app-personal-account-tag-allocation-chart
			class="scale-125"
			[series]="personalAccountDailyExpensePieChart$ | async"
			[accountBalance]="accountState.total"
			dataLabelsAlignTo="connectors"
		></app-personal-account-tag-allocation-chart>
	</div>
</div>

<!-- displayed expense by tag -->
<div class="mt-6">
	<h2 class="space-x-2">
		<span>Date:</span>
		<span class="text-wt-gray-medium">{{ filterDailyDataGroup.controls.dateFilter.value | dateFormatter }}</span>
	</h2>
	<app-personal-account-expenses-by-tag
		[aggregations]="accountTagAggregationForTimePeriod$ | async"
		[disabled]="true"
	></app-personal-account-expenses-by-tag>
</div>
