<ng-container *ngIf="personalAccountDetails$ | async as personalAccountDetails; else showSkeleton">
	<!-- account total state -->
	<div
		*ngIf="accountTotalState$ | async as accountTotalState"
		class="flex flex-col justify-between gap-x-8 gap-y-8 lg:flex-row"
	>
		<app-personal-account-account-state
			class="md:basis-3/4"
			[accountState]="accountTotalState"
		></app-personal-account-account-state>

		<app-personal-account-action-buttons
			(buttonClickEmitter)="onActionButtonClick($event)"
		></app-personal-account-action-buttons>
	</div>

	<!-- tag expense legend -->
	<app-scroll-wrapper>
		<app-value-presentation-button-control
			[formControl]="filterDailyDataGroup.controls.selectedTagIds"
			[items]="yearlyExpenseTags$ | async"
			itemKey="id"
			[selectWholeItem]="false"
		></app-value-presentation-button-control>
	</app-scroll-wrapper>

	<div class="grid gap-4 2xl:grid-cols-2">
		<!-- account overview chart -->
		<app-personal-account-tag-spending-chart
			[accountOverviewChartData]="accountOverviewChartData$ | async"
			[expenseTagsChartData]="totalExpenseTagsChartData$ | async"
			[categories]="categories$ | async"
			[heightPx]="475"
		></app-personal-account-tag-spending-chart>

		<!-- expense chart -->
		<app-personal-account-account-growth-chart
			[accountOverviewChartData]="accountOverviewChartData$ | async"
			[categories]="categories$ | async"
			[heightPx]="475"
		></app-personal-account-account-growth-chart>
	</div>

	<!-- date filter control -->
	<div class="md:px-8">
		<app-personal-account-daily-entries-filter
			(addDailyEntryClickEmitter)="onDailyEntryClick(null)"
			[formControl]="filterDailyDataGroup.controls.dateFilter"
			[personalAccountDetails]="personalAccountDetails"
		></app-personal-account-daily-entries-filter>
	</div>

	<div class="grid items-center grid-cols-1 gap-4 md:px-8 lg:grid-cols-4">
		<!-- table body -->
		<div class="h-full lg:col-span-2">
			<app-personal-account-daily-entries-table
				(editDailyEntryClickEmitter)="onDailyEntryClick($event)"
				[personalAccountDailyData]="filteredDailyData$ | async"
			></app-personal-account-daily-entries-table>
		</div>

		<!-- spending allocation by tags -->
		<div class="lg:col-span-2 md:-mt-16">
			<app-pie-chart
				class="scale-125"
				[series]="personalAccountDailyExpensePieChart$ | async"
				[displayValue]="(accountFilteredState$ | async)?.total"
			></app-pie-chart>
		</div>
	</div>

	<!-- displayed expense by tag -->
	<div *ngIf="accountTagAggregationForTimePeriod$ | async as accountTagAggregationForTimePeriod" class="mt-6">
		<h2 class="space-x-2">
			<span>Date:</span>
			<span class="text-wt-gray-medium">{{ filterDailyDataGroup.controls.dateFilter.value | dateFormatter }}</span>
		</h2>
		<app-personal-account-expenses-by-tag
			[aggregations]="accountTagAggregationForTimePeriod"
			[disabled]="true"
		></app-personal-account-expenses-by-tag>
	</div>
</ng-container>

<!-- skeleton -->
<ng-template #showSkeleton>
	<app-personal-account-desktop-view-skeleton></app-personal-account-desktop-view-skeleton>
</ng-template>
