<div class="flex justify-between">
	<div class="flex gap-2">
		<!-- image & info -->
		<img appDefaultImg [src]="cashChange.type" imageType="investment_cash" class="w-[40px] h-[40px] hidden sm:block" />
		<div class="flex flex-col">
			<span class="text-base">{{ getNameFromType(cashChange.type) | titlecase }}</span>
			<span class="text-sm text-gray-500">{{ cashChange.date | date: 'dd.MM.YYYY' }}</span>
		</div>
	</div>

	<!-- value -->
	<div class="flex items-center gap-2">
		<div
			class="text-lg"
			[ngClass]="{
            'text-wt-success-medium': cashChange.cashValue  > 0,
            'text-wt-danger-medium': cashChange.cashValue < 0
        }"
		>
			{{ cashChange.cashValue | currency }}
		</div>
	</div>
</div>
