<button
	mat-button
	appNotificationProgress
	[notificationProgressMessage]="'Removing cash ' + cashChange.cashValue + ' from date: ' + (cashChange.date | date: 'dd.MM.YYYY')"
	[notificationMessage]="'Removing data'"
	(notificationSuccessEmitter)="onDelete()"
	type="button"
	class="w-full"
	[disabled]="cashChange.type === InvestmentAccountCashChangeType.AssetOperation"
>
	<div class="flex justify-between">
		<div class="flex gap-2">
			<!-- TODO replaca by image -->
			<div class="w-[40px] h-[40px] bg-slate-300 hidden sm:block"></div>
			<div class="flex flex-col">
				<span class="text-base">{{ getNameFromType(cashChange.type) }}</span>
				<span class="text-sm text-gray-500">{{ cashChange.date | date: 'dd.MM.YYYY' }}</span>
			</div>
		</div>

		<!-- value -->
		<div class="flex items-center gap-2">
			<div
				class="text-lg"
				[ngClass]="{
            'g-color-success': cashChange.cashValue  > 0,
            'g-color-danger': cashChange.cashValue < 0
        }"
			>
				{{ cashChange.cashValue | currency }}
			</div>
		</div>
	</div>
</button>
