<div class="c-cash-wrapper" [ngClass]="{'gap-y-4': allowCustomization}">
	<div *ngIf="ownedUnitsShow" class="text-xl">
		<span class="text-wt-primary-dark">Owned units: </span>
		<span>{{ ownedUnits ?? 0 }}</span>
	</div>

	<!-- units -->
	<ng-container
		*ngTemplateOutlet="customizableTemplate; context:{data: {name: 'Units', value: units, buttonType: ActionButtonPressEnum.UNITS, nonCurrency: true}}"
	></ng-container>

	<!-- price -->
	<ng-container *ngIf="!allowCustomization">
		<ng-container
			*ngTemplateOutlet="customizableTemplate; context:{data: {name: 'Price', value: value}}"
		></ng-container>
	</ng-container>

	<!-- total value -->
	<ng-container
		*ngTemplateOutlet="customizableTemplate; context:{data: {name: 'Total', value: totalValue, buttonType: ActionButtonPressEnum.TOTAL_VALUE}}"
	></ng-container>
</div>

<!-- button with body -->
<ng-template #customizableTemplate let-data="data">
	<button
		*ngIf="allowCustomization; else onlyBody"
		type="button"
		mat-stroked-button
		[color]="isBuying ? 'accent' : 'warn'"
		class="min-w-[240px] text-lg"
		(click)="onActionButtonPress(data.buttonType)"
	>
		<ng-container *ngTemplateOutlet="nonCustomizableTemplate; context:{data}"></ng-container>
	</button>

	<ng-template #onlyBody>
		<ng-container *ngTemplateOutlet="nonCustomizableTemplate; context:{data}"></ng-container>
	</ng-template>
</ng-template>

<!-- template body -->
<ng-template #nonCustomizableTemplate let-data="data">
	<div class="text-lg">
		<span
			[ngClass]="{
      'text-wt-success-medium': isBuying,
      'text-wt-danger-medium': !isBuying
    }"
		>
			{{ data.name }}
		</span>
		<span *ngIf="data.value" class="white">
			<ng-container *ngIf="!data.nonCurrency">{{data.value | currency }}</ng-container>
			<ng-container *ngIf="data.nonCurrency">{{data.value }}</ng-container>
		</span>
		<span *ngIf="!data.value">N/A</span>
	</div>
</ng-template>
