<section class="grid welcome-full lg:grid-cols-2 gap-x-12 gap-y-4">
	<div class="relative order-2 lg:order-1 max-lg:h-[620px]">
		<img
			[src]="WELCOME_INVESTMENT_1"
			alt="Investment account image 1"
			loading="lazy"
			class="absolute top-[-40px] right-0 w-[600px] hidden lg:block"
		/>
		<img
			[src]="WELCOME_INVESTMENT_2"
			alt="Investment account image 2"
			loading="lazy"
			class="absolute top-[160px] left-[-150px] w-[600px] hidden lg:block"
		/>
		<img
			[src]="WELCOME_INVESTMENT_3"
			alt="Investment account image 3"
			loading="lazy"
			class="absolute top-5 right-[34%] xs:right-[50%] lg:top-[300px] lg:right-10 h-[460px]"
		/>
		<!-- mobile -->
		<img
			[src]="WELCOME_INVESTMENT_4"
			alt="Personal account image 4"
			loading="lazy"
			class="absolute mt-[100px] left-[34%] xs:left-[48%] lg:top-[360px] lg:left-[160px] h-[460px] block lg:hidden"
		/>
	</div>

	<div class="order-1 lg:order-2">
		<h2 class="text-3xl sm:text-4xl md:text-5xl lg:text-6xl 2xl:text-7xl welcome-paragraph-title">
			Investment Account
		</h2>
		<div class="hidden mb-12 welcome-body-1 lg:block">
			Using your investment tracking application, users can get a comprehensive overview of their investments, simplify
			investment tracking by seeing everything in one place, and stay organized and in control of their finances.
		</div>
		<div class="welcome-paragraph welcome-body-1">
			Get a comprehensive overview of your investments to <span class="text-wt-primary-dark">see</span> all of your
			<span class="text-wt-primary-dark">investments in one place</span>
		</div>
		<div class="welcome-paragraph welcome-body-1">
			Easily track your asset performance, calculate returns, and
			<span class="text-wt-primary-dark">monitor asset allocation</span>, all from one place
		</div>
		<div class="welcome-paragraph welcome-body-1">
			See how their investments are <span class="text-wt-primary-dark">performing over time</span> and make informed
			decisions about their investment strategy
		</div>
	</div>
</section>
