<!-- account state -->
<div class="grid grid-cols-2 mb-8 gap-y-1 gap-x-2">
	<div *ngRange="4" class="g-skeleton h-[96px]"></div>
</div>

<!-- expense chart -->
<div class="g-skeleton h-[300px] w-full mb-4"></div>

<!-- settings button -->
<div class="g-skeleton h-11 w-[120px] mb-4"></div>

<!-- divider -->
<div class="my-4">
	<mat-divider></mat-divider>
</div>

<!-- add daily entry button -->
<div class="w-full mb-4 g-skeleton h-11"></div>

<!-- divider -->
<div class="my-4">
	<mat-divider></mat-divider>
</div>

<!-- date filter control -->
<div class="w-full mb-8 g-skeleton h-14"></div>

<!-- aggregation text and button -->
<div class="flex items-center justify-between mb-6">
	<div class="w-[120px] h-6 g-skeleton"></div>
	<div class="w-[200px] h-11 g-skeleton"></div>
</div>

<!-- tag aggregation -->
<div class="grid gap-4">
	<div *ngRange="8" class="h-[95px] w-full g-skeleton"></div>
</div>
