<h2 class="text-xl text-center text-wt-primary-dark">Growth Asset Chart</h2>

<!-- show all -->
<div class="flex justify-end mb-2">
	<button *ngIf="symbolsControl.value.length > 0" mat-stroked-button type="button" (click)="onToggleSymbols()">
		<ng-container>Hide All</ng-container>
	</button>
</div>

<!-- list of symbols -->
<mat-chip-listbox
	aria-label="Asset Selection"
	[multiple]="true"
	[formControl]="symbolsControl"
	class="h-[155px] overflow-y-scroll"
>
	<mat-chip-option *ngFor="let inputSource of symbolInputSource$ | async" class="h-10 mb-3 mr-1 g-mat-chip">
		<div class="flex flex-wrap items-center gap-4 px-2">
			<img appDefaultImg [src]="inputSource.image" [alt]="inputSource.caption" class="h-7" />
			<span class="text-base">{{ inputSource.caption }}</span>
		</div>
	</mat-chip-option>
</mat-chip-listbox>

<!-- chart -->
<mat-dialog-content>
	<highcharts-chart
		*ngIf="displayChart; else showSkeleton"
		[Highcharts]="Highcharts"
		[options]="chartOptions"
		[callbackFunction]="chartCallback"
		style="width: 100%; display: block"
		[style.height.px]="550"
	>
	</highcharts-chart>

	<!-- skeleton -->
	<ng-template #showSkeleton>
		<div class="h-[550px] g-skeleton"></div>
	</ng-template>
</mat-dialog-content>

<!-- action buttons -->
<mat-dialog-actions>
	<div class="g-mat-dialog-actions-end">
		<button mat-stroked-button mat-dialog-close type="button">Cancel</button>
	</div>
</mat-dialog-actions>
