<!-- logo + symbol -->
<div class="flex items-center gap-2">
	<img [src]="history.assetId" imageType="assetId" appDefaultImg class="h-8" />
	<div class="flex flex-col">
		<!-- asset symbol + type -->
		<div class="flex flex-row gap-x-2">
			<span class="g-color-text-normal flex gap-1 items-center"> {{ history.assetId }} </span>
			<span class="text-gray-500">|</span>
			<span
				[ngClass]="{
                'g-color-danger': history.type === InvestmentAccountHoldingHistoryType.Sell,
                'g-color-success': history.type === InvestmentAccountHoldingHistoryType.Buy
              }"
				>{{ history.type }}</span
			>
		</div>

		<!-- date  -->
		<div class="text-xs text-gray-500">{{ history.date | date: 'dd.MM.yyyy' }}</div>
	</div>
</div>

<!-- total value -->
<div class="flex flex-col items-end">
	<span class="g-color-text-normal text-base">{{ history.units * history.unitValue | currency}}</span>
	<!-- show this on md lower screen -->
	<div>
		<!-- SELL operation -->
		<div
			*ngIf="history.returnChange"
			appPerceptageIncrease
			[useCurrencySign]="true"
			[changeValues]="{
                changesPercentage: history.returnChange
            }"
		></div>
		<!-- BUY operation -->
		<div *ngIf="!history.return" class="text-gray-400">{{ history.units }} * {{ history.unitValue | currency }}</div>
	</div>
</div>
