<div *ngIf="!loading" class="flex items-center justify-between p-4 md:px-10">
	<h2 class="text-lg text-wt-primary-dark">Login</h2>

	<div>
		<button mat-icon-button mat-dialog-close color="warn">
			<mat-icon>close</mat-icon>
		</button>
	</div>
</div>

<!-- content -->
<mat-dialog-content>
	<mat-tab-group *ngIf="!loading">
		<mat-tab label="Login">
			<app-form-login [formControl]="loginUserInputControl"></app-form-login>
		</mat-tab>
		<mat-tab label="Register">
			<app-form-register [formControl]="registerUserInputControl"></app-form-register>
		</mat-tab>
		<mat-tab label="Forgot Password">
			<app-form-forgot-password [formControl]="forgotPasswordInputControl"></app-form-forgot-password>
		</mat-tab>
	</mat-tab-group>

	<!-- loading screen -->
	<div *ngIf="loading" class="flex justify-center">
		<mat-spinner color="primary" diameter="120"></mat-spinner>
	</div>
</mat-dialog-content>

<div *ngIf="!loading" class="my-4">
	<mat-divider></mat-divider>
</div>

<!-- social media login -->
<mat-dialog-actions *ngIf="!loading">
	<a mat-flat-button [href]="loginGoogle" color="warn" class="w-full text-center">Google</a>
</mat-dialog-actions>
