<div *ngIf="!loading" class="flex items-center justify-between p-4 md:px-10">
	<h2 class="text-lg text-wt-primary-dark">Login</h2>

	<div>
		<button mat-icon-button mat-dialog-close color="warn">
			<mat-icon>close</mat-icon>
		</button>
	</div>
</div>

<!-- content -->
<mat-dialog-content *ngIf="!loading; else loader">
	<mat-tab-group>
		<mat-tab label="Login">
			<app-form-login [formControl]="loginUserInputControl"></app-form-login>

			<div class="my-4">
				<mat-divider></mat-divider>
			</div>

			<!-- social media login -->
			<h2 class="text-lg text-wt-primary-dark">Social Media Login</h2>
			<mat-dialog-actions>
				<a
					mat-flat-button
					[href]="loginGoogle"
					(click)="toggleLoading()"
					color="warn"
					class="w-full text-center rounded-lg"
				>
					Google
				</a>
			</mat-dialog-actions>

			<div class="my-4">
				<mat-divider></mat-divider>
			</div>

			<!-- development -->
			<h2 class="text-lg text-wt-primary-dark">Demo Account Login</h2>
			<button mat-stroked-button color="accent" class="w-full" type="button" (click)="onDemoLogin()">Demo Login</button>
		</mat-tab>
		<mat-tab label="Register">
			<app-form-register [formControl]="registerUserInputControl"></app-form-register>
		</mat-tab>
		<mat-tab label="Forgot Password">
			<app-form-forgot-password [formControl]="forgotPasswordInputControl"></app-form-forgot-password>
		</mat-tab>
	</mat-tab-group>
</mat-dialog-content>

<!-- loader -->
<ng-template #loader>
	<div class="flex justify-center">
		<mat-spinner color="primary" diameter="120"></mat-spinner>
	</div>
</ng-template>
