<button
	mat-button
	[style.--valueItemColor]="color"
	[style.--valueItemColorActive]="colorActive"
	[style]="isActive ? 'background-color: ' +  colorActive: ''"
	(click)="onActivate()"
>
	<div class="button-body">
		<div class="text-lg text-gray-200 mr-2">{{yearlyAggregation.tagName}}</div>
		<div class="text-base text-gray-400">{{ yearlyAggregation.value | currency}}</div>
		<div class="text-gray-500 text-base">({{ yearlyAggregation.value / yearlyExpenseTotal| percent: '1.2-2' }})</div>
	</div>
</button>
