:host {
	display: block;

	button {
		@apply px-4 py-1 rounded-lg w-full;
		.button-body {
			@apply flex flex-row gap-2  items-center;
		}
		border-left: 4px solid var(--valueItemColor);
		&:hover {
			background-color: var(--valueItemColorActive);
		}
	}
}
