$custom-success: (
	50: #e5f6e5,
	100: #bee8bf,
	200: #92d994,
	300: #66ca69,
	400: #46be49,
	500: #25b329,
	600: #21ac24,
	700: #1ba31f,
	800: #169a19,
	900: #0d8b0f,
	A100: #bbffbc,
	A200: #88ff89,
	A400: #55ff57,
	A700: #3bff3d,
	contrast: (
		50: #000000,
		100: #000000,
		200: #000000,
		300: #000000,
		400: #000000,
		500: #ffffff,
		600: #ffffff,
		700: #ffffff,
		800: #ffffff,
		900: #ffffff,
		A100: #000000,
		A200: #000000,
		A400: #000000,
		A700: #000000,
	),
);

$custom-primary: (
	50: #e3f5f5,
	100: #b8e6e6,
	200: #89d5d5,
	300: #59c4c4,
	400: #36b7b7,
	500: #12aaaa,
	600: #10a3a3,
	700: #0d9999,
	800: #0a9090,
	900: #057f7f,
	A100: #aeffff,
	A200: #7bffff,
	A400: #48ffff,
	A700: #2effff,
	contrast: (
		50: #000000,
		100: #000000,
		200: #000000,
		300: #000000,
		400: #ffffff,
		500: #ffffff,
		600: #ffffff,
		700: #ffffff,
		800: #ffffff,
		900: #ffffff,
		A100: #000000,
		A200: #000000,
		A400: #000000,
		A700: #000000,
	),
);

$custom-warn: (
	50: #fae5e5,
	100: #f2bebe,
	200: #ea9393,
	300: #e16767,
	400: #da4747,
	500: #d42626,
	600: #cf2222,
	700: #c91c1c,
	800: #c31717,
	900: #b90d0d,
	A100: #ffe6e6,
	A200: #ffb3b3,
	A400: #ff8080,
	A700: #ff6767,
	contrast: (
		50: #000000,
		100: #000000,
		200: #000000,
		300: #000000,
		400: #ffffff,
		500: #ffffff,
		600: #ffffff,
		700: #ffffff,
		800: #ffffff,
		900: #ffffff,
		A100: #000000,
		A200: #000000,
		A400: #000000,
		A700: #000000,
	),
);

/* ============================ */
/* LIGHT */
/* ============================ */

$custom-primary-light: (
	50: #feece0,
	100: #fbd0b3,
	200: #f9b180,
	300: #f7924d,
	400: #f57a26,
	500: #f36300,
	600: #f15b00,
	700: #ef5100,
	800: #ed4700,
	900: #ea3500,
	A100: #ffffff,
	A200: #ffe3de,
	A400: #ffb9ab,
	A700: #ffa391,
	contrast: (
		50: #000000,
		100: #000000,
		200: #000000,
		300: #000000,
		400: #000000,
		500: #000000,
		600: #ffffff,
		700: #ffffff,
		800: #ffffff,
		900: #ffffff,
		A100: #000000,
		A200: #000000,
		A400: #000000,
		A700: #000000,
	),
);

$custom-success-light: (
	50: #e1f2e1,
	100: #b4ddb5,
	200: #82c784,
	300: #50b152,
	400: #2ba02d,
	500: #058f08,
	600: #048707,
	700: #047c06,
	800: #037204,
	900: #016002,
	A100: #90ff90,
	A200: #5dff5d,
	A400: #2aff2a,
	A700: #11ff11,
	contrast: (
		50: #000000,
		100: #000000,
		200: #000000,
		300: #000000,
		400: #ffffff,
		500: #ffffff,
		600: #ffffff,
		700: #ffffff,
		800: #ffffff,
		900: #ffffff,
		A100: #000000,
		A200: #000000,
		A400: #000000,
		A700: #000000,
	),
);
