<table mat-table [dataSource]="dataSource" matSort [trackBy]="identity">
	<!-- tags -->
	<ng-container matColumnDef="tag">
		<th mat-header-cell *matHeaderCellDef>Tag</th>
		<td mat-cell *matCellDef="let row">
			<div class="flex items-center gap-3">
				<!-- tag svg -->
				<img appDefaultImg imageType="url" [src]="row.personalAccountTag.imageUrl" class="h-7" />

				<!-- tag data -->
				<div class="flex flex-col">
					<span class="text-gray-200">{{ row.personalAccountTag.name }}</span>
					<span class="table-cell sm:hidden">{{ row.date | date: 'EEEE h:mm a, MMM d.' }}</span>
				</div>
			</div>
		</td>
	</ng-container>

	<!-- value -->
	<ng-container matColumnDef="value">
		<th mat-header-cell *matHeaderCellDef>Value</th>
		<td
			mat-cell
			*matCellDef="let row"
			[ngClass]="{
        'g-color-danger': row.personalAccountTag.type === TagDataType.Expense,
        'g-color-success': row.personalAccountTag.type === TagDataType.Income
      }"
		>
			{{ row.value | currency }}
		</td>
	</ng-container>

	<!-- date -->
	<ng-container matColumnDef="date">
		<th mat-header-cell *matHeaderCellDef class="hidden sm:table-cell">Date</th>
		<td mat-cell *matCellDef="let row" class="hidden sm:table-cell">{{ row.date | date: 'EEEE h:mm a (MMM d)' }}</td>
	</ng-container>

	<!-- week -->
	<ng-container matColumnDef="week">
		<th mat-header-cell *matHeaderCellDef class="hidden sm:table-cell">Week</th>
		<td mat-cell *matCellDef="let row" class="hidden sm:table-cell">{{ row.week }}</td>
	</ng-container>

	<!-- month -->
	<ng-container matColumnDef="month">
		<th mat-header-cell *matHeaderCellDef class="hidden sm:table-cell">Month</th>
		<td mat-cell *matCellDef="let row" class="hidden sm:table-cell">{{ row.date | date: 'MMMM' }}</td>
	</ng-container>

	<tr mat-header-row *matHeaderRowDef="displayedColumns" class="hidden sm:contents"></tr>
	<tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="onEditDailyEntryClick(row)"></tr>

	<!-- Row shown when there is no matching data. -->
	<tr class="mat-row" *matNoDataRow>
		<td class="mat-cell" colspan="5">
			<div class="min-h-[200px] g-color-secondary grid place-content-center">No data has been found</div>
		</td>
	</tr>
</table>

<div class="flex items-center justify-end sm:justify-between">
	<!-- add button -->
	<button mat-stroked-button (click)="onAddDailyEntryClick()" type="button" color="primary" class="hidden sm:block">
		<mat-icon>add</mat-icon>
		Add daily entry
	</button>

	<!-- pagination -->
	<mat-paginator
		appStylePaginator
		showFirstLastButtons
		[length]="dataSource.filteredData?.length"
		[appCustomLength]="dataSource.filteredData?.length"
		[pageSize]="12"
	></mat-paginator>
</div>
