<table mat-table [dataSource]="dataSource" matSort [trackBy]="identify">
	<!-- tags -->
	<ng-container matColumnDef="tag">
		<th mat-header-cell *matHeaderCellDef>Tag</th>
		<td mat-cell *matCellDef="let row">{{ row.tag.name }}</td>
	</ng-container>

	<!-- value -->
	<ng-container matColumnDef="value">
		<th mat-header-cell *matHeaderCellDef>Value</th>
		<td mat-cell *matCellDef="let row">{{ row.value | currency }}</td>
	</ng-container>

	<!-- date -->
	<ng-container matColumnDef="date">
		<th mat-header-cell *matHeaderCellDef>Date</th>
		<td mat-cell *matCellDef="let row">{{ row.date | date: 'EEEE h:mm:ss a (MMM d, y)' }}</td>
	</ng-container>

	<!-- week -->
	<ng-container matColumnDef="week">
		<th mat-header-cell *matHeaderCellDef>Week</th>
		<td mat-cell *matCellDef="let row">{{ row.week }}</td>
	</ng-container>

	<!-- month -->
	<ng-container matColumnDef="month">
		<th mat-header-cell *matHeaderCellDef>Month</th>
		<td mat-cell *matCellDef="let row">{{ row.date | date: 'MMMM' }}</td>
	</ng-container>

	<tr mat-header-row *matHeaderRowDef="displayedColumns" class="hidden sm:contents"></tr>
	<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

	<!-- Row shown when there is no matching data. -->
	<tr class="mat-row" *matNoDataRow>
		<td class="mat-cell" colspan="5">
			<div class="min-h-[200px] g-color-secondary grid place-content-center">No data has been found</div>
		</td>
	</tr>
</table>

<div class="flex flex-col-reverse md:flex-row gap-3 items-center justify-between">
	<!-- add button -->
	<button mat-stroked-button type="button" color="primary">
		<mat-icon>add</mat-icon>
		Add daily entry
	</button>

	<!-- pagination -->
	<mat-paginator
		appStylePaginator
		showFirstLastButtons
		[length]="dataSource.filteredData?.length"
		[appCustomLength]="dataSource.filteredData?.length"
		[pageSize]="12"
	></mat-paginator>
</div>
