<table class="w-full" mat-table [dataSource]="dataSource" matSort [trackBy]="identity">
	<!-- tags -->
	<ng-container matColumnDef="tag">
		<th mat-header-cell *matHeaderCellDef>Tag</th>
		<td mat-cell *matCellDef="let row">
			<div class="flex items-center gap-3">
				<!-- tag svg -->
				<img appDefaultImg [src]="row.tag.imageUrl" class="h-7" />

				<!-- tag data -->
				<div class="flex flex-col">
					<span class="text-gray-200">{{ row.tag.name }}</span>
					<span class="table-cell sm:hidden">{{ row.date | date: 'EEEE h:mm a, MMM d.' }}</span>
				</div>

				<!-- description -->
				<button
					*ngIf="row.description"
					type="button"
					mat-icon-button
					[matTooltip]="row.description"
					class="text-wt-gray-medium"
				>
					<mat-icon>description</mat-icon>
				</button>
			</div>
		</td>
	</ng-container>

	<!-- value -->
	<ng-container matColumnDef="value">
		<th mat-header-cell *matHeaderCellDef>Value</th>
		<td
			mat-cell
			*matCellDef="let row"
			[ngClass]="{
        'text-wt-danger-medium': row.tag.type === TagDataType.Expense,
        'text-wt-success-medium': row.tag.type === TagDataType.Income
      }"
		>
			{{ row.value | currency }}
		</td>
	</ng-container>

	<!-- date -->
	<ng-container matColumnDef="date">
		<th mat-header-cell *matHeaderCellDef class="hidden sm:table-cell">Date</th>
		<td mat-cell *matCellDef="let row" class="hidden sm:table-cell">
			<span class="text-wt-gray-light">{{ row.date | date: 'MMMM d.' }}</span> |
			<span> {{ row.date | date: 'EEEE' }}</span> |
			<span>Week {{row.week}}.</span>
		</td>
	</ng-container>

	<tr mat-header-row *matHeaderRowDef="displayedColumns" class="hidden sm:contents"></tr>
	<tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="onEditDailyEntryClick(row)"></tr>

	<!-- Row shown when there is no matching data. -->
	<tr class="mat-row" *matNoDataRow>
		<td class="mat-cell" colspan="3">
			<div *ngRange="10" class="g-skeleton h-[40px] w-full mb-2"></div>
		</td>
	</tr>
</table>

<!-- pagination -->
<div *ngIf="dataSource?.filteredData" class="flex items-center justify-end">
	<mat-paginator
		appStylePaginator
		showFirstLastButtons
		[length]="dataSource.filteredData.length"
		[appCustomLength]="dataSource.filteredData.length"
		[pageSize]="12"
	></mat-paginator>
</div>
