<!-- header -->
<app-header-container></app-header-container>

<!-- display all personal accounts -->
<ng-container *ngFor="let personalAccountBasic of personalAccountBasic$ | async ">
	<app-personal-account [personalAccountBasic]="personalAccountBasic"></app-personal-account>
</ng-container>

<!-- display all personal accounts -->
<ng-container *ngFor="let investmentAccount of investmentAccountsOverivew$ | async">
	<app-investment-account [investmentAccountsOverivew]="investmentAccount"></app-investment-account>
</ng-container>
