<!-- header -->
<app-header-container></app-header-container>

<mat-tab-group dynamicHeight>
	<mat-tab *ngFor="let account of availableAccounts$ | async" [label]="account.name">
		<ng-container [ngSwitch]="account.accountType">
			<!-- personal account -->
			<app-personal-account
				*ngSwitchCase="AccountType.PersonalAccount"
				[personalAccountBasic]="account"
			></app-personal-account>
			<!-- investment account -->
			<!-- <app-investment-account
				*ngSwitchCase="AccountType.PersonalAccount"
				[investmentAccountsOverview]="account"
			></app-investment-account> -->
		</ng-container>
	</mat-tab>
</mat-tab-group>
