<!-- header -->
<app-header-container></app-header-container>

<!-- dashboard navigation -->
<app-dashboard-navigation
	*ngIf="availableAccounts$ | async as accounts"
	[availableAccounts]="accounts"
	[formControl]="accountFormControl"
></app-dashboard-navigation>

<ng-container *ngIf="accountFormControl.value">
	<!-- personal account -->
	<app-personal-account
		*ngIf="accountFormControl.value.accountType === AccountType.PersonalAccount"
		[personalAccountBasic]="accountFormControl.value"
	></app-personal-account>

	<!-- investment account -->
	<app-investment-account
		*ngIf="accountFormControl.value.accountType === AccountType.InvestmentAccount"
		[investmentAccountsOverview]="accountFormControl.value"
	></app-investment-account>
</ng-container>
