<div mat-dialog-title class="flex flex-col items-center justify-between px-2 sm:flex-row">
	<h2>User profile</h2>
	<div>
		<button
			mat-stroked-button
			color="warn"
			matTooltip="Your password will be reset and new password will arrive to your email"
		>
			<mat-icon>lock_reset</mat-icon>
			Reset password
		</button>
	</div>
</div>

<!-- content -->
<mat-dialog-content> asddassa </mat-dialog-content>

<div class="my-4">
	<mat-divider></mat-divider>
</div>

<!-- action buttons -->
<mat-dialog-actions>
	<div class="justify-end g-dialog-button-wrapper">
		<button mat-stroked-button mat-dialog-close type="button" class="lg:w-auto">Cancel</button>
	</div>
</mat-dialog-actions>
