<div class="flex flex-wrap gap-4 max-sm:order-2">
	<div [formGroup]="formGroup" class="w-full md:w-[350px]">
		<app-form-mat-input-wrapper
			inputCaption="Filter by date"
			controlName="dateFilter"
			inputType="SELECT_SOURCE_WRAPPER"
			[inputSourceWrapper]="filterDateInputSourceWrapper"
		></app-form-mat-input-wrapper>
	</div>

	<div class="hidden mt-1 h-11 sm:block">
		<button mat-stroked-button (click)="onCurrentMonthClick()" type="button" color="primary" class="w-full h-full">
			Current month
		</button>
	</div>
</div>

<!-- add button -->
<div>
	<button
		mat-stroked-button
		(click)="onAddDailyEntryClick()"
		type="button"
		color="primary"
		class="w-full sm:-mt-6 g-button-size-lg"
	>
		<mat-icon>add</mat-icon>
		Add daily entry
	</button>
</div>

<div class="block my-4 sm:hidden">
	<mat-divider></mat-divider>
</div>
