<form [formGroup]="formGroup" class="grid grid-cols-2 md:grid-cols-4 gap-x-3 lg:flex">
	<!-- display months -->
	<mat-form-field appearance="outline">
		<mat-label>Select month</mat-label>
		<mat-select formControlName="yearAndMonth">
			<mat-option *ngFor="let date of displayYearsAndMonths" [value]="date">
				{{date | dateFormatter: 'monthName'}} {{ date | dateFormatter: 'yearName' }}
			</mat-option>
		</mat-select>
	</mat-form-field>

	<!-- display weeks in the selected month -->
	<mat-form-field appearance="outline">
		<mat-label>Select week</mat-label>
		<mat-select formControlName="week">
			<mat-option *ngFor="let data of displayWeeksInMonth" [value]="data">
				{{ data === -1 ? 'Unselect' : 'Week ' + data }}
			</mat-option>
		</mat-select>
	</mat-form-field>

	<!-- display tags in the selected month & week -->
	<app-form-mat-input-wrapper
		controlName="tag"
		inputCaption="Select tag"
		inputType="MULTISELECT"
		[inputSource]="displayTagsInputSource$ | async"
	></app-form-mat-input-wrapper>

	<!-- current month -->
	<div class="mt-1 h-11">
		<button mat-stroked-button (click)="onCurrentMonthClick()" type="button" color="primary" class="w-full h-full">
			Current month
		</button>
	</div>
</form>
