<section
	*ngIf="availableAccounts$ | async as availableAccounts; else showSkeleton"
	class="w-full md:w-8/12 mx-auto pt-[30%] sm:pt-[12%]"
>
	<ng-container *ngIf="authenticatedUser$ | async as authenticatedUser">
		<div *ngIf="authenticatedUser.accountType === UserAccountType.Test" class="mb-10 g-banner-default">
			You are logged with a testing account, your data won't be persisted for a long period of time. <br />
			<br />
			Multiple users can use the same testing account at the same time.
		</div>
	</ng-container>

	<!-- existing accounts -->
	<div *ngFor="let account of availableAccounts" class="mb-12">
		<app-account-manager-item
			(editEmitter)="onEdit($event, account.accountType)"
			(deleteEmitter)="onDelete(account.accountType)"
			(clickedEmitter)="onClick(account.accountType)"
			[accountData]="account"
			[accountType]="account.accountType"
		></app-account-manager-item>
	</div>

	<!-- not created accounts -->
	<div *ngFor="let accountType of creatingAccounts$ | async" class="mb-12">
		<app-account-manager-item
			(createEmitter)="onCreate(accountType)"
			[accountType]="accountType"
		></app-account-manager-item>
	</div>
</section>

<!-- skeleton -->
<ng-template #showSkeleton>
	<app-account-manager-skeleton></app-account-manager-skeleton>
</ng-template>
