<form [formGroup]="tagItemGroup" (ngSubmit)="onSubmit()">
	<!-- color -->
	<app-color-picker formControlName="color"></app-color-picker>

	<!-- icon -->
	<button type="button">
		<img appDefaultImg [src]="icon" imageType="url" class="w-8 h-8" />
	</button>

	<!-- name -->
	<div class="flex-1 pt-2">
		<app-form-mat-input-wrapper controlName="tagName" inputCaption="Enter name for a tag"></app-form-mat-input-wrapper>
	</div>

	<!-- budget -->
	<div class="flex-1">
		<app-slider formControlName="budget" [config]="sliderConfig"></app-slider>
	</div>

	<!-- action buttons -->
	<div class="flex items-center gap-x-5">
		<button mat-icon-button color="accent" type="submit" appTooltip="Save Tag Changes" class="border border-solid">
			<mat-icon>done</mat-icon>
		</button>
		<button
			mat-icon-button
			color="warn"
			type="button"
			(click)="onRemove()"
			appTooltip="Remove Tag"
			class="border border-solid"
		>
			<mat-icon>delete</mat-icon>
		</button>
	</div>
</form>
