<ng-container *ngIf="aggregations">
	<button
		*ngFor="let aggregation of aggregations"
		mat-button
		(click)="onClick(aggregation)"
		class="w-full p-0 mb-2 shadow-lg md:py-4 g-background-card-color h-[75px] overflow-hidden bg-wt-background-dark"
	>
		<div class="flex items-center gap-2">
			<!-- tag image -->
			<div class="p-2 rounded-l-xl w-14 h-[75px]" style="background-color: {{aggregation.color}};">
				<img appDefaultImg [src]="aggregation.imageUrl" alt="tag image" class="h-8 m-auto mt-3" />
			</div>

			<div
				class="flex justify-between flex-1 py-4 pr-4"
				[ngClass]="{'items-start': !!aggregation.lastDataEntryDate, 'items-center': !aggregation.lastDataEntryDate}"
			>
				<!-- tag name & entries -->
				<div class="text-start">
					<div
						class="space-x-1"
						[ngClass]="{'text-base':  !!aggregation.lastDataEntryDate, 'text-lg':  !aggregation.lastDataEntryDate}"
					>
						<span style="color: {{aggregation.color}}">{{ aggregation.name }}</span>
						<span class="text-gray-400">({{ aggregation.totalEntries }})</span>
					</div>
					<span *ngIf="aggregation.lastDataEntryDate " class="text-gray-400">
						Last: {{ aggregation.lastDataEntryDate | date: 'MMM. d' }}
					</span>
				</div>

				<div class="text-end min-w-[100px]">
					<!-- total spending and budget -->
					<div>
						<span
							class="text-white"
							[ngClass]="{
                  'text-base':  aggregation.budgetToTimePeriod  && !aggregation.isWeeklyView,
                  'text-xl':  !aggregation.budgetToTimePeriod ||  aggregation.isWeeklyView
              }"
						>
							{{ aggregation.totalValue | currency }}
						</span>
						<ng-container *ngIf="aggregation.budgetToTimePeriod && !aggregation.isWeeklyView">
							<span>/</span>
							<span class="text-gray-400">{{ aggregation.budgetToTimePeriod | currency }}</span>
						</ng-container>
					</div>
					<!-- progress bar -->
					<div *ngIf="aggregation.budgetToTimePeriod && !aggregation.isWeeklyView" class="mt-2">
						<app-progress-item
							[currentValue]="aggregation.totalValue"
							[totalThresholdValue]="aggregation.budgetToTimePeriod"
						></app-progress-item>
					</div>
				</div>
			</div>
		</div>
	</button>
</ng-container>
