<div class="flex flex-row gap-4 p-1 px-3">
	<!-- progress bar -->
	<div *ngIf="data.type === 'progress' " class="flex-1">
		<span *ngIf="data.message"> {{data.message }} </span>
		<mat-progress-bar mode="determinate" [value]="value$ | async"></mat-progress-bar>
	</div>

	<!-- notification message -->
	<div *ngIf="data.type === 'notification' " class="flex items-center flex-1 gap-4">
		<mat-icon color="primary">notifications</mat-icon>
		<span *ngIf="data.message"> {{data.message }} </span>
	</div>

	<!-- success message -->
	<div *ngIf="data.type === 'success' " class="flex items-center flex-1 gap-4">
		<mat-icon color="accent">check_circle</mat-icon>
		<span *ngIf="data.message"> {{data.message }} </span>
	</div>

	<!-- error message -->
	<div *ngIf="data.type === 'error' " class="flex items-center flex-1 gap-4">
		<mat-icon color="warn">report</mat-icon>
		<span *ngIf="data.message"> {{data.message }} </span>
	</div>

	<!-- closing button -->
	<button *ngIf="data.type !== 'progress' " (click)="closeSnackbar()" class="min-w-0">
		<mat-icon class="text-xl leading-9">close</mat-icon>
	</button>
</div>
