<!-- flex max-xs:flex-col items-center justify-between -->
<div
	class="grid grid-cols-1 gap-x-4 sm:gap-x-8 gap-y-4 sm:grid-cols-2 md:grid-cols-3 xl:flex xl:justify-between xl:items-center"
>
	<!-- current account state -->
	<div class="c-wrapper">
		<div class="c-title">Account state</div>
		<div class="c-body">
			<div class="c-body-value">{{ (currentInvestedAmout + cashAmount) | currency }}</div>
		</div>
	</div>

	<!-- Gains in value -->
	<div class="c-wrapper">
		<div class="c-title">Total gains</div>
		<div class="c-body">
			<div
				class="c-body-value"
				appPerceptageIncrease
				flexStyle="col"
				[useCurrencySign]="true"
				[changeValues]="{change: currentInvestedAmout - totalInvestedAmount}"
			></div>
		</div>
	</div>

	<!-- return in prct -->
	<div class="c-wrapper">
		<div class="c-title">Total return</div>
		<div class="c-body">
			<div
				class="c-body-value"
				appPerceptageIncrease
				flexStyle="col"
				[useCurrencySign]="true"
				[changeValues]="{changesPercentage: (currentInvestedAmout - totalInvestedAmount) / totalInvestedAmount * 100}"
			></div>
		</div>
	</div>

	<!-- total invested amount -->
	<div class="c-wrapper">
		<div class="c-title">Invested</div>
		<div class="c-body">
			<div class="c-body-value">{{ (currentInvestedAmout ) | currency }}</div>
		</div>
	</div>

	<!-- return in prct -->
	<div class="c-wrapper">
		<div class="c-title">Invested daily +/-</div>
		<div class="c-body">
			<div
				class="c-body-value"
				appPerceptageIncrease
				[changeValues]="{changesPercentage: dailyInvestmentChange.dailyChangesPercentage}"
			></div>
			<div
				appPerceptageIncrease
				[useCurrencySign]="true"
				[changeValues]="{change: dailyInvestmentChange.dailyChange}"
			></div>
		</div>
	</div>

	<!-- add holding -->
	<button
		(click)="onAddHoldingClick()"
		mat-button
		type="button"
		color="primary"
		class="mb-2 g-button-size-lg g-button-action-primary"
	>
		<mat-icon>add</mat-icon>
		Add holding
	</button>
</div>
