:host {
	display: block;

	--height: 10px;

	/* background: */
	progress::-webkit-progress-bar {
		background-color: var(--gray-dark);
		width: 100%;
		border-radius: 20px;
		height: var(--height);
	}

	progress {
		background-color: var(--gray-dark);
		width: 100%;
		border-radius: 20px;
		height: var(--height);
	}

	/* value: */
	progress::-webkit-progress-value {
		background-color: var(--progress-color);
		border-radius: 20px;
		height: var(--height);
	}
	progress::-moz-progress-bar {
		background-color: var(--progress-color);
		border-radius: 20px;
		height: var(--height);
	}
	progress {
		color: var(--progress-color);
		border-radius: 20px;
		height: var(--height);
	}
}
