:host {
	display: block;
}

highcharts-chart::ng-deep {
	.highcharts-container,
	.highcharts-container svg {
		width: 100% !important;
		height: 100% !important;
		display: inline-block !important;
	}

	.highcharts-stocktools-wrapper,
	.highcharts-bindings-wrapper {
		display: none;
	}

	tspan {
		font-size: inherit;
	}
}
