<fieldset [disabled]="disabled">
	<ng-container [ngSwitch]="inputType">
		<mat-form-field
			*ngIf="
        !['CHECKBOX', 'RADIO', 'SLIDE_TOGGLE', 'SLIDER', 'BUTTON'].includes(inputType);
        else fieldWhichCannotBeInFormField
      "
			appearance="fill"
			[ngClass]="{ 'g-form-error': parentFormControl?.touched && parentFormControl?.invalid }"
		>
			<!-- label -->
			<mat-label> {{ inputCaption }}</mat-label>

			<!-- textarea -->
			<textarea
				#textAreaElement
				*ngSwitchCase="'TEXTAREA'"
				[formControl]="internalFormControl"
				cdkAutosizeMinRows="4"
				cdkTextareaAutosize
				matInput
			>
			</textarea>

			<!-- select source wrapper -->
			<ng-container *ngSwitchCase="'SELECT_SOURCE_WRAPPER'">
				<mat-select
					[disableRipple]="disabled"
					[formControl]="internalFormControl"
					[ngClass]="{ 'disabled-element': disabled }"
				>
					<mat-select-trigger *ngIf="internalSelectFormControl() as selectedOption" class="flex items-center gap-2">
						<img
							appDefaultImg
							[imageType]="selectedOption?.imageType"
							*ngIf="selectedOption?.image as selectedOptionImage"
							[src]="selectedOptionImage"
							alt="Option image"
						/>
						{{ selectedOption.caption }}
					</mat-select-trigger>
					<mat-optgroup *ngFor="let source of inputSourceWrapper" [label]="source.name">
						<mat-option
							*ngFor="let optionData of source.items"
							[value]="optionData.value"
							(onSelectionChange)="onSelectChange(optionData, $event)"
						>
							<div class="flex items-center gap-2">
								<img
									*ngIf="optionData?.image"
									appDefaultImg
									[imageType]="optionData?.imageType"
									[src]="optionData.image"
									alt=""
								/>
								{{ optionData.caption }}
							</div>
						</mat-option>
					</mat-optgroup>
				</mat-select>
			</ng-container>

			<!-- select & multiselect and search select-->
			<ng-container *ngSwitchCase="'SELECT'">
				<ng-container *ngTemplateOutlet="selectTemplate"></ng-container>
			</ng-container>
			<ng-container *ngSwitchCase="'SELECTSEARCH'">
				<ng-container *ngTemplateOutlet="selectTemplate"></ng-container>
			</ng-container>
			<ng-container *ngSwitchCase="'MULTISELECT'">
				<ng-container *ngTemplateOutlet="selectTemplate"></ng-container>
			</ng-container>

			<ng-template #selectTemplate>
				<mat-select
					[disableRipple]="disabled"
					[formControl]="internalFormControl"
					[ngClass]="{ 'disabled-element': disabled }"
					[multiple]="inputType === InputType.MULTISELECT"
				>
					<mat-select-trigger *ngIf="internalSelectFormControl() as selectedOption" class="flex items-center gap-2">
						<img
							appDefaultImg
							*ngIf="selectedOption.image as selectedOptionImage"
							[src]="selectedOptionImage"
							alt="Option image"
						/>
						{{ selectedOption.caption }}
					</mat-select-trigger>
					<input
						*ngIf="inputType === InputType.SELECTSEARCH || inputType === InputType.MULTISELECT"
						class="select-input"
						placeholder="Search"
						tabindex="0"
					/>
					<mat-option
						*ngFor="let optionData of inputSource"
						[value]="optionData.value"
						(onSelectionChange)="onSelectChange(optionData, $event)"
					>
						<div class="flex items-center gap-2 min-w-max">
							<img *ngIf="optionData?.image" [src]="optionData.image" alt="" />
							{{ optionData.caption }}
						</div>
					</mat-option>
				</mat-select>
			</ng-template>

			<!-- number -->
			<ng-container *ngSwitchCase="'NUMBER'">
				<input [formControl]="internalFormControl" [readOnly]="disabled" type="number" autocomplete="off" matInput />
			</ng-container>

			<!-- text, number, time, email -->
			<input
				*ngSwitchDefault
				[formControl]="internalFormControl"
				[readOnly]="disabled"
				[type]="inputType | lowercase"
				autocomplete="off"
				matInput
			/>

			<!-- hint -->
			<mat-hint *ngIf="hintText" class="hidden sm:block text-wt-gray-medium" matSuffix> {{ hintText }} </mat-hint>

			<!-- prefix icon -->
			<mat-icon *ngIf="prefixIcon" matPrefix class="icon-prefix">{{ prefixIcon }}</mat-icon>
		</mat-form-field>

		<!-- mat-form-field can not contain the following elements -->
		<ng-template #fieldWhichCannotBeInFormField>
			<div class="not-form-field-inputs">
				<!-- checkbox -->
				<mat-checkbox
					*ngSwitchCase="'CHECKBOX'"
					[disableRipple]="disabled"
					[formControl]="internalFormControl"
					color="primary"
					[matTooltip]="hintText ? hintText : ''"
					[ngClass]="{ 'disabled-element': disabled }"
				>
					{{ inputCaption }}
				</mat-checkbox>

				<!-- radio button -->
				<ng-container *ngSwitchCase="'RADIO'">
					<!-- label -->
					<mat-label class="font-bold"> {{ inputCaption }}</mat-label>

					<mat-radio-group
						[formControl]="internalFormControl"
						[matTooltip]="hintText ? hintText : ''"
						[ngClass]="{ 'disabled-element': disabled }"
						class="flex flex-col mt-4"
					>
						<mat-radio-button *ngFor="let optionData of inputSource" [value]="optionData.value">
							{{ optionData.caption }}
						</mat-radio-button>
					</mat-radio-group>
				</ng-container>

				<!-- errors -->
				<mat-error *ngFor="let inputError of parentFormControl?.errors | keyvalue" [id]="''">
					{{ inputError.value.errorText }}
				</mat-error>
			</div>
		</ng-template>
	</ng-container>
</fieldset>

<!-- errors -->
<ng-container *ngIf="showErrors">
	<mat-error *ngFor="let inputError of parentFormControl?.errors | keyvalue" [id]="''">
		{{ inputError.value.errorText }}
	</mat-error>
</ng-container>
