.g-bubble {
	background-color: var(--secondary-dark);
	border-radius: 50%;
	width: 34px;
	height: 34px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--gray-medium);
	font-size: 14px;
	cursor: pointer;
	transition: 0.3s;

	&:hover {
		background-color: var(--primary-dark);
		color: white;
	}

	&__active {
		background-color: var(--primary-dark);
		color: white;
	}

	&__disabled {
		cursor: default;
		opacity: 0.5;
		pointer-events: none;
		color: var(--gray-dark);
		&:hover {
			background-color: var(--gray-dark) !important;
		}
	}
}

mat-paginator {
	background: transparent !important;
}

.mat-paginator-range-actions {
	margin-right: 12px !important;
}
