<div class="p-2 md:px-8 flex items-center justify-between">
	<h2 class="text-3xl text-gray-400">Wealth tracker</h2>

	<!-- right section -->
	<div class="flex items-center gap-4">
		<button (click)="onManageAccountClick()" type="button" mat-stroked-button class="g-color-secondary">
			<mat-icon>add</mat-icon>
			Manage accounts
		</button>

		<!-- user image -->
		<mat-chip-list aria-label="select a shirt size">
			<mat-chip
				(click)="onUserAccountClick()"
				class="p-5 cursor-pointer bg-transparent border-2 g-color-primary border-solid"
			>
				<img
					matChipAvatar
					src="https://material.angular.io/assets/img/examples/shiba1.jpg"
					alt="Photo of a Shiba Inu"
				/>
				Test user 1
			</mat-chip>
		</mat-chip-list>
	</div>
</div>
