<div class="flex items-center justify-between mb-6 text-lg">
	<span class="text-wt-primary-dark"> Account history </span>
	<button mat-button mat-dialog-close type="button" class="text-wt-danger-dark">
		<mat-icon>close</mat-icon>
		Close
	</button>
</div>

<form [formGroup]="formGroup">
	<!-- symbols -->
	<app-form-mat-input-wrapper
		class="min-w-[320px]"
		controlName="symbols"
		inputCaption="Select symbols"
		inputType="MULTISELECT"
		[inputSource]="symbolInputSource$ | async"
	></app-form-mat-input-wrapper>
</form>

<!-- table -->
<mat-dialog-content>
	<app-investment-account-transaction-table
		[transactions]="transactionHistory$ | async"
		[symbolSelect]="formGroup.controls.symbols.valueChanges | async"
	></app-investment-account-transaction-table>
</mat-dialog-content>
