<div class="text-lg mb-6 flex justify-between items-center">
	<span class="g-color-primary"> Account history </span>
	<button mat-button mat-dialog-close type="button" class="g-color-danger">
		<mat-icon>close</mat-icon>
		Close
	</button>
</div>

<form [formGroup]="formGroup">
	<!-- symbols -->
	<app-form-mat-input-wrapper
		controlName="symbols"
		inputCaption="Select symbols"
		inputType="MULTISELECT"
		[inputSource]="symbolInputSource$ | async"
	></app-form-mat-input-wrapper>
</form>

<!-- table -->
<mat-dialog-content>
	<app-investment-account-transaction-table
		[transactions]="transactionHistory$ | async"
		[symbolSelect]="formGroup.controls.symbols.valueChanges | async"
	></app-investment-account-transaction-table>
</mat-dialog-content>
