<!-- aggregation & history button -->
<button
	*ngIf="!selectedTag"
	class="min-w-[200px]"
	mat-stroked-button
	[color]="showHistoryFormControl ? 'warn' : 'primary' "
	(click)="onDisplayClick()"
>
	{{ showHistoryFormControl ? 'History' : 'Aggregation' }}
</button>

<!-- selected tag button -->
<button
	*ngIf="selectedTag"
	class="min-w-[200px]"
	style="border-color: {{selectedTag.color}} !important"
	mat-stroked-button
	(click)="onDisplayClick()"
>
	<div class="flex items-center gap-4 text-xl">
		<img appDefaultImg [src]="selectedTag.imageUrl" imageType="url" class="h-7 w-7" />
		<span style="color: {{selectedTag.color}}"> {{ selectedTag.name}} </span>
	</div>
</button>
