<div class="flex items-center justify-between mb-4">
	<div class="text-base">
		<ng-container *ngIf="!showHistoryFormControl">Tag aggregation</ng-container>
		<ng-container *ngIf="showHistoryFormControl">
			<div *ngIf="selectedTag" class="flex items-center gap-4 text-xl">
				<img appDefaultImg [src]="selectedTag.imageUrl" imageType="url" class="h-7 w-7" />
				<span class="text-wt-primary-dark"> {{ selectedTag.name}} </span>
			</div>
			<ng-container *ngIf="!selectedTag"> Show History </ng-container>
		</ng-container>
	</div>

	<button mat-stroked-button [color]="showHistoryFormControl ? 'warn' : 'primary' " (click)="onDisplayClick()">
		{{ showHistoryFormControl ? 'Displayed History' : 'Displayed Aggregation' }}
	</button>
</div>
