<div class="text-lg mb-6 text-center">
	<span>Holding manager: </span>
	<span class="g-color-primary">{{ (investmentAccount$ | async)?.name }} </span>
</div>

<mat-dialog-content>
	<form (submit)="onSave()" [formGroup]="formGroup" class="lg:basis-3/5 mb-2">
		<!-- cash state -->
		<div class="c-cash-wrapper">
			<div>
				<span class="text-gray-400">Cash: </span>
				<span *ngIf="cashCategory$ | async as c">
					{{ c.DEPOSIT + c.ASSET_OPERATION - c.WITHDRAWAL | largeNumberFormatter }}
				</span>
			</div>
			<div>
				<span class="text-gray-400">Price: </span>
				<span *ngIf="formSymbolPrice.value as value">~ {{ value | currency}} </span>
				<span *ngIf="!formSymbolPrice.value">N/A</span>
			</div>
			<div>
				<span class="text-gray-400">Total: </span>
				<span *ngIf="totalValue"> {{totalValue | currency }} </span>
				<span *ngIf="!totalValue">N/A</span>
			</div>
		</div>

		<!-- asset type -->
		<fieldset [disabled]="!!data.selectedAsset">
			<mat-radio-group
				formControlName="assetType"
				aria-label="Select asset type"
				class="flex flex-col gap-1 xs:flex-row justify-around mb-3"
			>
				<mat-radio-button
					color="primary"
					[value]="SearchableAssetEnum.AseetByName"
					matTooltip="Search any asset by its full name like: Microsfot, Tesla, etc."
				>
					Asset by name
				</mat-radio-button>
				<mat-radio-button
					color="primary"
					[value]="SearchableAssetEnum.AseetById"
					matTooltip="Search any asset by its ticker symbol like: MSFT, TSLA, AAPL, etc."
				>
					Asset by id
				</mat-radio-button>
				<mat-radio-button
					color="primary"
					[value]="SearchableAssetEnum.Crypto"
					matTooltip="Search crypto like: BTC, ETH, etc."
				>
					Crypto by id
				</mat-radio-button>
			</mat-radio-group>
		</fieldset>

		<div class="my-2">
			<mat-divider></mat-divider>
		</div>

		<!-- transaction type -->
		<mat-radio-group
			formControlName="transactionType"
			aria-label="Select transaction type"
			class="flex flex-row gap-x-4 gap-y-2 mb-3"
		>
			<mat-radio-button
				color="accent"
				[value]="InvestmentAccountHoldingHistoryType.Buy"
				[ngClass]="{' border-green-500': formGroup.controls.transactionType.value === InvestmentAccountHoldingHistoryType.Buy}"
				class="flex-1 text-green-500 border-2"
			>
				Buy
			</mat-radio-button>
			<mat-radio-button
				color="warn"
				[value]="InvestmentAccountHoldingHistoryType.Sell"
				[ngClass]="{' border-red-500': formGroup.controls.transactionType.value === InvestmentAccountHoldingHistoryType.Sell}"
				class="flex-1 text-red-500 border-2"
			>
				Sell
			</mat-radio-button>
		</mat-radio-group>

		<!-- search symbol -->
		<div class="mb-3">
			<app-asset-manager-search-asset
				formControlName="symbol"
				[isDisabled]="!!data.selectedAsset"
				[searchableAsset]="formGroup.controls.assetType.value"
			></app-asset-manager-search-asset>
		</div>

		<!-- error selecting symbol -->
		<div
			*ngIf="formGroup.controls.symbol.touched && formGroup.controls.symbol.errors?.['required']"
			class="p-3 text-white bg-red-500 rounded-lg mb-4"
		>
			Symbol name is required
		</div>

		<!-- units -->
		<app-form-mat-input-wrapper
			class="w-full"
			controlName="units"
			inputCaption="Enter units"
			inputType="NUMBER"
		></app-form-mat-input-wrapper>

		<!-- date -->
		<app-form-mat-input-wrapper
			class="w-full"
			controlName="date"
			inputCaption="Enter date of purchase"
			inputType="DATEPICKER"
			[disabled]="!formGroup.controls.symbol.value"
			[inputTypeDateTimePickerConfig]="datePickerConfig"
		></app-form-mat-input-wrapper>

		<!-- error if more than cash -->
		<div *ngIf="cashError$ | async" class="p-3 text-white bg-red-500 rounded-lg mb-4">Insufficient cash amount</div>

		<div class="my-4">
			<mat-divider></mat-divider>
		</div>

		<!-- action buttons -->
		<div class="c-button-wrapper">
			<button mat-stroked-button mat-dialog-close type="button">Cancel</button>
			<button mat-stroked-button color="primary" type="submit" [disabled]="cashError$ | async">
				<mat-icon *ngIf="isSaving" class="animate-spin">cached</mat-icon>
				Save
			</button>
		</div>
	</form>

	<!-- history of asset holding -->
	<div class="min-h-[300px] sm:pl-4 md:pr-2 flex-1">
		<div class="text-base text-center mb-2 g-color-danger">Historical data</div>
		<div class="text-xs text-center text-gray-500">Hold to remove</div>
		<div class="min-h-[200px] max-h-[420px] overflow-x-hidden pt-3">
			<div *ngFor="let history of transactionHistory$ | async | sortByKey: 'date': 'desc'" class="g-bottom-border">
				<button
					mat-button
					appNotificationProgress
					[notificationProgressMessage]="'Removing entry from date: ' + (history.date | date: 'dd.MM.YYYY')"
					[notificationMessage]="'Removing data'"
					(notificationSuccessEmitter)="onDelete(history)"
					type="button"
					class="w-full"
				>
					<app-holding-history-item [history]="history"></app-holding-history-item>
				</button>
			</div>
		</div>
	</div>
</mat-dialog-content>
