<app-dialog-close-header (dialogCloseEmitter)="onCancel()" title="Account Holdings"></app-dialog-close-header>

<div
	*ngIf="formGroup.controls.symbol.value"
	class="flex flex-col items-center justify-between gap-2 px-2 md:flex-row lg:mb-4"
>
	<!-- transaction type -->
	<button
		[disabled]="!data.activeHolding"
		type="button"
		mat-flat-button
		[color]="formGroup.controls.isBuying.value ? 'accent' : 'warn'"
		class="w-full md:w-auto g-button-size-lg"
		(click)="onTransactionTypeChange()"
	>
		{{ formGroup.controls.isBuying.value ? 'Buy Asset' : 'Sell Asset' }}
	</button>

	<!-- history -->
	<button mat-stroked-button type="button" (click)="onTransactionShow()" class="w-full md:w-auto g-button-size-lg">
		<mat-icon>visibility</mat-icon>
		Show Previous Transactions
	</button>
</div>

<!-- error if more than cash -->
<div class="w-full mx-auto md:w-9/12">
	<div
		class="mt-2 mb-5 g-error-banner"
		*ngIf="formGroup.controls.symbol.touched && formGroup.controls.symbol.errors?.['required']"
	>
		Symbol name is required
	</div>
	<div class="mt-2 mb-5 g-error-banner" *ngIf="insufficientUnitsError$ | async">Insufficient units to sell</div>
</div>

<form (ngSubmit)="onSave()" [formGroup]="formGroup">
	<mat-dialog-content>
		<!-- historical chart -->
		<ng-container *ngIf="assetHistoricalData$ | async as assetHistoricalData; else chartSkeleton">
			<div *ngIf="!loadingHistoricalData; else chartSkeleton" class="min-h-[300px]">
				<app-generic-chart [series]="[assetHistoricalData]" [heightPx]="300"></app-generic-chart>
			</div>
		</ng-container>

		<!-- skeleton -->
		<ng-template #chartSkeleton>
			<div *ngIf="formSymbol.value" class="w-full h-[300px] g-skeleton"></div>
		</ng-template>

		<!-- checkbox for custom total value -->
		<div class="flex justify-end mt-4">
			<mat-checkbox matTooltip="Allow more manual customization" [formControl]="allowCustomTotalValue">
				Allow Custom Total Value
			</mat-checkbox>
		</div>

		<div *ngIf="allowCustomTotalValue.value" class="p-4 text-lg text-center text-gray-800 bg-gray-400 rounded-lg">
			Using `Allow Custom Total Value` you can manually set how many units you bought/sold and what was the total price
		</div>

		<!-- record state -->
		<app-record-state
			(actionButtonPressEmitter)="onRecordStateAction($event)"
			[allowCustomization]="allowCustomTotalValue.value"
			[totalValue]="allowCustomTotalValue.value ? formGroup.controls.customTotalValue.value : calculatedTotalValue"
			[ownedUnitsShow]="!!data.activeHolding"
			[ownedUnits]="data.activeHolding?.units"
			[value]="formSymbolPrice.value"
			[units]="units.value"
			[isBuying]="formGroup.controls.isBuying.value"
		></app-record-state>

		<div class="grid lg:grid-cols-2 gap-x-4 xl:gap-x-8">
			<div>
				<!-- date picker -->
				<app-date-picker formControlName="date" [inputTypeDateTimePickerConfig]="datePickerConfig"></app-date-picker>

				<!-- asset type -->
				<app-form-mat-input-wrapper
					[disabled]="!!data.activeHolding"
					[inputSource]="TransactionAssetTypeInputSource"
					class="w-full"
					controlName="assetType"
					inputCaption="Select asset type"
					inputType="SELECT"
				></app-form-mat-input-wrapper>

				<!-- search symbol -->
				<app-asset-manager-search-asset
					formControlName="symbol"
					[isDisabled]="!!data.activeHolding"
					[searchableAsset]="formGroup.controls.assetType.value"
				></app-asset-manager-search-asset>
			</div>

			<div class="mt-6">
				<!-- keyboard -->
				<app-number-keyboard-control [formControl]="keyBoardFormControl"></app-number-keyboard-control>
			</div>
		</div>

		<!-- history of asset holding -->
		<ng-container *ngIf="transactionHistory$ | async as transactionHistory">
			<div *ngIf="showHistoricalTransactions" class="min-h-[300px] sm:pl-4 md:pr-2 lg:col-span-2 mt-4">
				<div class="mb-2 text-lg text-center text-wt-danger-medium">Historical data</div>
				<div class="text-sm text-center text-wt-gray-dark">Hold to remove</div>
				<div class="pt-3">
					<div *ngFor="let history of transactionHistory | sortByKey: 'date': 'desc'">
						<button
							mat-button
							appNotificationProgress
							[notificationProgressMessage]="'Removing entry from date: ' + (history.date | date: 'dd.MM.YYYY')"
							[notificationMessage]="'Removing data'"
							(notificationSuccessEmitter)="onDelete(history)"
							type="button"
							class="w-full mb-4 cursor-pointer h-14 lg:h-12"
						>
							<app-holding-history-item [history]="history"></app-holding-history-item>
						</button>
					</div>
				</div>
			</div>
		</ng-container>
	</mat-dialog-content>

	<div class="my-4">
		<mat-divider></mat-divider>
	</div>

	<!-- action buttons -->
	<mat-dialog-actions>
		<div class="g-mat-dialog-actions-full">
			<button mat-stroked-button mat-dialog-close type="button">Cancel</button>
			<button
				mat-stroked-button
				type="submit"
				[disabled]="isError$ | async"
				[color]="formGroup.controls.isBuying.value ? 'accent' : 'warn'"
			>
				<mat-icon *ngIf="isSaving" class="animate-spin">cached</mat-icon>
				Save
			</button>
		</div>
	</mat-dialog-actions>
</form>
