<div class="mb-6 text-lg text-center">
	<span>Holding manager: </span>
	<span class="text-wt-primary-dark">{{ (investmentAccount$ | async)?.name }} </span>
</div>

<mat-dialog-content>
	<form (ngSubmit)="onSave()" [formGroup]="formGroup" class="mb-2 lg:basis-3/5">
		<!-- date picker -->
		<app-date-picker formControlName="date" [inputTypeDateTimePickerConfig]="datePickerConfig"></app-date-picker>

		<!-- asset type -->
		<app-form-mat-input-wrapper
			[disabled]="!!data.selectedAsset"
			[inputSource]="TransactionAssetTypeInputSource"
			class="w-full"
			controlName="assetType"
			inputCaption="Select asset type"
			inputType="SELECT"
		></app-form-mat-input-wrapper>

		<!-- search symbol -->
		<app-asset-manager-search-asset
			formControlName="symbol"
			[isDisabled]="!!data.selectedAsset"
			[searchableAsset]="formGroup.controls.assetType.value"
		></app-asset-manager-search-asset>

		<!-- transaction type -->
		<div class="my-4">
			<button
				type="button"
				mat-flat-button
				[color]="formGroup.controls.isBuying.value ? 'accent' : 'warn'"
				class="w-full"
				(click)="onTransactionTypeChange()"
			>
				{{ formGroup.controls.isBuying.value ? 'Buy Asset' : 'Sell Asset' }}
			</button>
		</div>

		<div class="my-4">
			<mat-divider></mat-divider>
		</div>

		<!-- cash state -->
		<div class="c-cash-wrapper">
			<div>
				<span class="text-gray-400">Cash: </span>
				<span *ngIf="cashCategory$ | async as c">
					{{ c.DEPOSIT + c.ASSET_OPERATION - c.WITHDRAWAL | largeNumberFormatter }}
				</span>
			</div>
			<div>
				<span class="text-gray-400">Units: </span>
				<span> {{ units.value ?? 'N/A' }} </span>
			</div>
			<div>
				<span class="text-gray-400">Price: </span>
				<span *ngIf="formSymbolPrice.value as value">~ {{ value | currency}} </span>
				<span *ngIf="!formSymbolPrice.value">N/A</span>
			</div>
			<div>
				<span class="text-gray-400">Total: </span>
				<span *ngIf="totalValue"> {{totalValue | currency }} </span>
				<span *ngIf="!totalValue">N/A</span>
			</div>
		</div>

		<!-- error if more than cash -->

		<div
			class="mt-2 mb-5 g-error-banner"
			*ngIf="formGroup.controls.symbol.touched && formGroup.controls.symbol.errors?.['required']"
		>
			Symbol name is required
		</div>
		<div class="mt-2 mb-5 g-error-banner" *ngIf="cashError$ | async">Insufficient cash amount</div>

		<!-- keyboard -->
		<app-number-keyboard-control formControlName="units"></app-number-keyboard-control>

		<div class="my-4">
			<mat-divider></mat-divider>
		</div>

		<!-- action buttons -->
		<div class="g-dialog-button-wrapper">
			<button mat-stroked-button mat-dialog-close type="button">Cancel</button>
			<button mat-stroked-button color="primary" type="submit" [disabled]="cashError$ | async">
				<mat-icon *ngIf="isSaving" class="animate-spin">cached</mat-icon>
				Save
			</button>
		</div>
	</form>

	<!-- history of asset holding -->
	<div class="min-h-[300px] sm:pl-4 md:pr-2 flex-1">
		<div class="mb-2 text-base text-center text-wt-danger-medium">Historical data</div>
		<div class="text-xs text-center text-gray-500">Hold to remove</div>
		<div class="min-h-[200px] max-h-[420px] overflow-x-hidden pt-3">
			<div *ngFor="let history of transactionHistory$ | async | sortByKey: 'date': 'desc'">
				<button
					mat-button
					appNotificationProgress
					[notificationProgressMessage]="'Removing entry from date: ' + (history.date | date: 'dd.MM.YYYY')"
					[notificationMessage]="'Removing data'"
					(notificationSuccessEmitter)="onDelete(history)"
					type="button"
					class="w-full mb-4 cursor-pointer"
				>
					<app-holding-history-item [history]="history"></app-holding-history-item>
				</button>
			</div>
		</div>
	</div>
</mat-dialog-content>
