<div class="mb-6 text-lg text-center">
	<span class="text-wt-primary-dark">{{ (investmentAccount$ | async)?.name }}: </span
	><span *ngIf="cashCategory$ | async as c">{{ c.DEPOSIT + c.ASSET_OPERATION - c.WITHDRAWAL | currency}}</span>
</div>

<div class="lg:grid lg:place-content-center lg:mb-8">
	<button mat-stroked-button type="button" (click)="onCashHistoryToggle()" class="w-full lg:w-auto lg:min-w-[400px]">
		<mat-icon>visibility</mat-icon>
		Show Previous Transactions
	</button>
</div>

<form (ngSubmit)="onSave()" [formGroup]="formGroup">
	<mat-dialog-content>
		<!-- cash state -->
		<div *ngIf="cashCategory$ | async as cashCategory" class="c-cash-wrapper">
			<div>
				Deposit:
				<span class="text-wt-success-medium"> {{ cashCategory.DEPOSIT | largeNumberFormatter: false: true }}</span>
			</div>
			<div>
				Assets:
				<span class="text-wt-danger-medium"
					>{{ cashCategory.ASSET_OPERATION | largeNumberFormatter: false: true }}</span
				>
			</div>
			<div>
				Withdrawal:
				<span class="text-wt-gray-medium">{{ cashCategory.WITHDRAWAL | largeNumberFormatter: false: true }}</span>
			</div>
		</div>

		<!-- date picker -->
		<app-date-picker formControlName="date"></app-date-picker>

		<!-- cash type -->
		<app-form-mat-input-wrapper
			class="w-full"
			controlName="type"
			inputCaption="Select cash type"
			inputType="SELECT"
			[inputSource]="cashTypeInputSource"
		></app-form-mat-input-wrapper>

		<!-- display value -->
		<div class="flex items-center justify-between w-full px-4 mb-8 text-xl md:px-8">
			<span class="text-wt-gray-medium">Cash Value:</span>
			<span class="text-white">{{(formGroup.controls.value.value ?? 0) | currency}} </span>
		</div>

		<!-- keyboard -->
		<app-number-keyboard-control formControlName="value"></app-number-keyboard-control>

		<!-- history of changed cash -->
		<div *ngIf="showCashHistory" class="pl-4 mt-4 md:pr-2">
			<div class="my-4">
				<mat-divider></mat-divider>
			</div>
			<div class="mb-2 text-base text-center text-wt-danger-medium">Historical cash movements</div>
			<div class="mb-4 text-base text-center text-wt-gray-dark">You can remove only withdrawals or deposits</div>

			<!-- cash type filter -->
			<app-form-mat-input-wrapper
				class="w-full"
				controlName="filteredCashType"
				inputCaption="Select cash type filtering"
				inputType="SELECT"
				[inputSource]="CashChangeTypesInputSource"
			></app-form-mat-input-wrapper>

			<!-- table -->
			<app-investment-account-cash-change-item
				(clickedEmitter)="onDelete($event)"
				[cashChange]="cashChange$ | async | sortByKey: 'date': 'desc'  "
			></app-investment-account-cash-change-item>
		</div>
	</mat-dialog-content>

	<!-- divider -->
	<div class="my-4">
		<mat-divider></mat-divider>
	</div>

	<!-- action buttons -->
	<mat-dialog-actions>
		<div class="g-mat-dialog-actions-full">
			<button mat-stroked-button mat-dialog-close type="button">Cancel</button>
			<button mat-stroked-button color="primary" type="submit" [disabled]="!formGroup.controls.value.value">
				<mat-icon *ngIf="isSaving" class="animate-spin">cached</mat-icon>
				Save
			</button>
		</div>
	</mat-dialog-actions>
</form>
