<div *ngIf="investmentAccount$ | async as investmentAccount" class="mb-6 text-lg text-center">
	<span class="text-wt-primary-dark">{{ investmentAccount.name }}</span>
</div>

<form [formGroup]="formGroup">
	<mat-dialog-content>
		<!-- cash state -->
		<div *ngIf="investmentAccount$ | async as investmentAccount" class="c-cash-wrapper">
			<div>
				Deposit:
				<span class="text-wt-success-medium">
					{{ investmentAccount.DepositTotal| largeNumberFormatter: false: true }}</span
				>
			</div>
			<div>
				Assets:
				<span class="text-wt-danger-medium">
					{{ investmentAccount.AssetOperationTotal| largeNumberFormatter: false: true }}
				</span>
			</div>
			<div>
				Withdrawal:
				<span class="text-wt-gray-medium">
					{{ investmentAccount.WithdrawalTotal| largeNumberFormatter: false: true }}
				</span>
			</div>
			<div>
				Cash:
				<span class="text-wt-gray-light"> {{ investmentAccount.currentCash| currency }} </span>
			</div>
		</div>

		<!-- display value -->
		<div class="flex items-center justify-between w-full px-4 mb-8 text-xl md:px-8">
			<span class="text-wt-gray-medium">Cash Value:</span>
			<span class="text-white">{{((investmentAccount$| async)?.currentCash) | currency}} </span>
		</div>

		<!-- history of changed cash -->
		<div class="mt-4 sm:pl-4 md:pr-2">
			<div class="my-4">
				<mat-divider></mat-divider>
			</div>
			<div class="mb-2 text-base text-center text-wt-danger-medium">Historical cash movements</div>
			<div class="mb-4 text-base text-center text-wt-gray-dark">You can remove only withdrawals or deposits</div>

			<!-- cash type filter -->
			<app-form-mat-input-wrapper
				class="w-full"
				controlName="filteredCashType"
				inputCaption="Select cash type filtering"
				inputType="SELECT"
				[inputSource]="CashChangeTypesInputSource"
			></app-form-mat-input-wrapper>

			<!-- table -->
			<app-investment-account-cash-change-item
				[cashChange]="cashChange$ | async | sortByKey: 'date': 'desc'  "
			></app-investment-account-cash-change-item>
		</div>
	</mat-dialog-content>

	<!-- divider -->
	<div class="my-4">
		<mat-divider></mat-divider>
	</div>

	<!-- action buttons -->
	<mat-dialog-actions>
		<div class="g-mat-dialog-actions-full">
			<button mat-stroked-button mat-dialog-close type="button">Cancel</button>
		</div>
	</mat-dialog-actions>
</form>
