<!-- account state with chart -->
<app-personal-account-overview-chart-mobile
	[chartData]="personalAccountDailyExpensePieChart$ | async"
	[accountState]="accountState$ | async"
></app-personal-account-overview-chart-mobile>

<!-- table filter -->
<ng-container [formGroup]="filterDailyDataGroup">
	<app-form-mat-input-wrapper
		inputCaption="Filter by date"
		controlName="dateFilter"
		inputType="SELECT_SOURCE_WRAPPER"
		[inputSourceWrapper]="filterDateInputSourceWrapper$ | async"
	></app-form-mat-input-wrapper>
</ng-container>
