<!-- account info -->
<div class="mb-6">
	<app-personal-account-account-state
		[accountState]="accountDisplayedState$ | async"
	></app-personal-account-account-state>
</div>

<!-- expense chart -->
<div class="-mt-8">
	<app-personal-account-tag-allocation-chart
		[series]="personalAccountDailyExpensePieChart$ | async"
		[accountBalance]="accountDisplayedState$ | async"
	></app-personal-account-tag-allocation-chart>
</div>

<!-- settings -->
<div class="relative z-10 flex justify-start mb-4 -mt-4">
	<app-personal-account-action-buttons
		displayType="menu"
		(buttonClickEmitter)="onActionButtonClick($event)"
	></app-personal-account-action-buttons>
</div>

<div class="my-4">
	<mat-divider></mat-divider>
</div>

<!-- date filter control -->
<app-personal-account-daily-entries-filter
	(addDailyEntryClickEmitter)="onDailyEntryClick(null)"
	[formControl]="filterDailyDataGroup.controls.dateFilter"
	[personalAccountDetails]="personalAccountDetails$ | async"
></app-personal-account-daily-entries-filter>

<!-- title & show history checkbox -->
<div class="mt-2 mb-6">
	<app-personal-account-display-toggle
		[formControl]="showHistoryFormControl"
		[selectedTag]="personalAccountBasic | getTagById: filterDailyDataGroup.controls.selectedTagIds.value[0] | async"
	></app-personal-account-display-toggle>
</div>

<!-- tag aggregation -->
<ng-container *ngIf="accountTagAggregationForTimePeriod$ | async as aggregations">
	<app-personal-account-expenses-by-tag
		*ngIf="!showHistoryFormControl.value"
		[formControl]="filterDailyDataGroup.controls.selectedTagIds"
		[aggregations]="aggregations"
		[multiple]="false"
	></app-personal-account-expenses-by-tag>
</ng-container>

<!-- historical data -->
<ng-container *ngIf="dailyDataAggregation$ | async as dailyDataAggregation">
	<app-personal-account-daily-entries-table-mobile
		*ngIf="showHistoryFormControl.value"
		[personalAccountDailyData]="dailyDataAggregation"
		(editDailyEntryClickEmitter)="onDailyEntryClick($event)"
	></app-personal-account-daily-entries-table-mobile>
</ng-container>
