<mat-card
	*ngIf="showDataInCard"
	[class]="'mat-elevation-z3 bg-gradient-to-r from-wt-color-background-dark to-wt-color-background-medium ' + additionalClasses"
>
	<!-- title -->
	<ng-container *ngIf="title">
		<mat-card-header>
			<mat-card-title>
				<img *ngIf="titleImgUrl" appDefaultImg [src]="titleImgUrl" />
				<h2 class="mb-0 text-base g-color-primary">{{ title }}</h2>
			</mat-card-title>
		</mat-card-header>
		<mat-divider *ngIf="showDivider"></mat-divider>
	</ng-container>

	<!-- subtitle -->
	<ng-container *ngIf="subtitle">
		<mat-card-header>
			<mat-card-subtitle>{{ subtitle }}</mat-card-subtitle>
		</mat-card-header>
		<mat-divider *ngIf="showDivider"></mat-divider>
	</ng-container>

	<!-- content -->
	<mat-card-content>
		<!-- default content -->
		<div class="default g-color-secondary">No data has been found</div>

		<ng-content></ng-content>
	</mat-card-content>
</mat-card>
