<app-dialog-close-header (dialogCloseEmitter)="onCancel()" title="Daily Data"></app-dialog-close-header>

<div *ngIf="showLoader$ | async; else showForm" class="mt-6 mb-10">
	<mat-spinner diameter="100" class="m-auto"></mat-spinner>
</div>

<ng-template #showForm>
	<form (ngSubmit)="onSave()" [formGroup]="formGroup" class="-mt-3">
		<mat-dialog-content class="flex flex-col gap-x-4">
			<!-- date picker -->
			<app-date-picker class="max-sm:-mt-3" formControlName="date"></app-date-picker>

			<!-- tag -->
			<app-form-mat-input-wrapper
				controlName="tagId"
				inputCaption="Select tag"
				inputType="SELECT_SOURCE_WRAPPER"
				[inputSourceWrapper]="displayTagsInputSource$ | async"
			></app-form-mat-input-wrapper>

			<!-- display value -->
			<div class="flex items-center justify-between w-full pl-4 mb-5 text-xl">
				<span class="text-wt-gray-light">$</span>

				<div class="flex items-center gap-4">
					<span class="text-white">{{formGroup.controls.value.value ?? 0}}</span>
					<div *ngIf="data.dailyData" matTooltip="Hold to remove Item">
						<button
							type="button"
							mat-icon-button
							color="warn"
							appNotificationProgress
							notificationProgressMessage="Removing daily data"
							notificationMessage="Removing data"
							(notificationSuccessEmitter)="onRemove()"
						>
							<mat-icon>delete</mat-icon>
						</button>
					</div>
				</div>
			</div>

			<!-- description -->
			<app-form-mat-input-wrapper
				controlName="description"
				inputCaption="Add description"
				inputType="TEXT"
				hintText="Description for the entry, maximum 80 characters"
			></app-form-mat-input-wrapper>

			<div>
				<app-number-keyboard-control formControlName="value"></app-number-keyboard-control>
			</div>
		</mat-dialog-content>

		<div class="hidden my-4 sm:block">
			<mat-divider></mat-divider>
		</div>

		<!-- action buttons -->
		<mat-dialog-actions class="max-sm:mt-2">
			<div class="g-mat-dialog-actions-full">
				<button class="hidden sm:block" mat-stroked-button mat-dialog-close type="button">Cancel</button>
				<button mat-stroked-button color="primary" type="submit" [disabled]="!formGroup.controls.value.value">
					Save
				</button>
			</div>
		</mat-dialog-actions>
	</form>
</ng-template>
