<div class="mt-2 text-xl text-center text-wt-primary-dark">Daily Data</div>

<form (ngSubmit)="onSave()" [formGroup]="formGroup">
	<mat-dialog-content class="flex flex-col gap-x-4">
		<!-- date picker -->
		<app-date-picker formControlName="date"></app-date-picker>

		<!-- tag -->
		<app-form-mat-input-wrapper
			controlName="tagId"
			inputCaption="Select tag"
			inputType="SELECT_SOURCE_WRAPPER"
			[inputSourceWrapper]="displayTagsInputSource$ | async"
		></app-form-mat-input-wrapper>

		<!-- display value -->
		<div class="flex items-center justify-between w-full pl-4 mb-5 text-xl">
			<span class="text-wt-gray-light">$</span>

			<div class="flex items-center gap-4">
				<span class="text-white">{{formGroup.controls.value.value ?? 0}}</span>
				<div *ngIf="data.dailyData" matTooltip="Hold to remove Item">
					<button
						type="button"
						mat-icon-button
						color="warn"
						appNotificationProgress
						notificationProgressMessage="Removing daily data"
						notificationMessage="Removing data"
						(notificationSuccessEmitter)="onRemove()"
					>
						<mat-icon>delete</mat-icon>
					</button>
				</div>
			</div>
		</div>

		<!-- description -->
		<button
			*ngIf="!showDescription"
			mat-flat-button
			class="mb-6 bg-wt-gray-dark text-wt-gray-light"
			(click)="onDescriptionToggle()"
		>
			Add description
		</button>
		<ng-container *ngIf="showDescription">
			<app-form-mat-input-wrapper
				controlName="description"
				inputCaption="Add description"
				inputType="TEXTAREA"
				hintText="Maximum 80 characters"
			></app-form-mat-input-wrapper>
		</ng-container>

		<div>
			<app-number-keyboard-control formControlName="value"></app-number-keyboard-control>
		</div>
	</mat-dialog-content>

	<div class="my-4">
		<mat-divider></mat-divider>
	</div>

	<!-- action buttons -->
	<mat-dialog-actions>
		<div class="g-mat-dialog-actions-full">
			<button mat-stroked-button mat-dialog-close type="button">Cancel</button>
			<button mat-stroked-button color="primary" type="submit" [disabled]="!formGroup.controls.value.value">
				<mat-icon *ngIf="isSaving" class="animate-spin">cached</mat-icon>
				Save
			</button>
		</div>
	</mat-dialog-actions>
</form>
