<!-- personal accounts -->
<mat-selection-list [formControl]="selectedAccountControl" [multiple]="false">
	<div mat-subheader>Personal accounts</div>
	<mat-list-option *ngFor="let account of personalAccounts" [value]="account">
		<mat-icon matListItemIcon>folder</mat-icon>
		<div matListItemTitle>{{account.name}}</div>
		<div matListItemLine>{{account.createdAt| date}}</div>
	</mat-list-option>

	<mat-divider></mat-divider>

	<!-- investment accounts -->
	<div mat-subheader>Investment accounts</div>
	<mat-list-option *ngFor="let account of investmentAccounts" [value]="account">
		<mat-icon matListItemIcon>folder</mat-icon>
		<div matListItemTitle>{{account.name}}</div>
		<div matListItemLine>{{account.createdAt| date}}</div>
	</mat-list-option>
</mat-selection-list>
