<div class="grid grid-cols-1 lg:grid-cols-5 gap-4 min-h-[300px] items-center">
	<div class="col-span-1 lg:col-span-3">
		<!-- table filter -->
		<app-personal-account-daily-entries-filter></app-personal-account-daily-entries-filter>
		<!-- table body -->
		<app-personal-account-daily-entries-table
			[personalAccountDailyData]="(monthlyDataDetail$ | async)?.dailyData"
		></app-personal-account-daily-entries-table>
	</div>

	<!-- spending allocation by tags -->
	<div class="col-span-1 lg:col-span-2">
		<app-personal-account-expense-allocation-chart
			*ngIf="expenseAllocationChartData$ | async as data"
			[data]="data"
		></app-personal-account-expense-allocation-chart>
	</div>
</div>
