<div class="sm:min-h-[600px]">
	<table
		mat-table
		matSort
		[dataSource]="dataSource"
		class="w-full"
		[trackBy]="identity"
		(matSortChange)="sortData($event)"
	>
		<!-- image & name -->
		<ng-container matColumnDef="symbol">
			<th mat-header-cell mat-sort-header *matHeaderCellDef class="hidden md:table-cell">Symbol</th>
			<td mat-cell *matCellDef="let row">
				<!-- logo + symbol -->
				<div class="flex items-center gap-2">
					<img [src]="row.assetId" imageType="assetId" appDefaultImg class="h-8 w-8" />
					<div class="flex flex-col">
						<!-- asset symbol + type -->
						<div class="flex flex-row gap-x-2">
							<span class="g-color-text-normal flex gap-1 items-center"> {{ row.assetId }} </span>
							<span class="text-gray-500 table-cell lg:hidden">|</span>
							<span
								class="table-cell lg:hidden"
								[ngClass]="{
                  'g-color-danger': row.type === InvestmentAccountHoldingHistoryType.Sell,
                  'g-color-success': row.type === InvestmentAccountHoldingHistoryType.Buy
                }"
								>{{ row.type }}</span
							>
						</div>

						<!-- date  -->
						<div class="text-sm text-gray-500 block md:hidden">{{ row.date | date: 'dd.MM.yyyy' }}</div>
					</div>
				</div>
			</td>
		</ng-container>

		<!-- BUY / SELL order -->
		<ng-container matColumnDef="order">
			<th mat-header-cell mat-sort-header *matHeaderCellDef class="hidden lg:table-cell">Type</th>
			<td mat-cell *matCellDef="let row" class="hidden lg:table-cell text-base">
				<span
					[ngClass]="{
            'g-color-danger': row.type === InvestmentAccountHoldingHistoryType.Sell,
            'g-color-success': row.type === InvestmentAccountHoldingHistoryType.Buy
          }"
					>{{ row.type }}</span
				>
			</td>
		</ng-container>

		<!-- return -->
		<ng-container matColumnDef="return">
			<th mat-header-cell mat-sort-header *matHeaderCellDef class="hidden lg:table-cell">Return</th>
			<td mat-cell *matCellDef="let row" class="hidden lg:table-cell text-base">
				<div
					*ngIf="row.return"
					appPerceptageIncrease
					[useCurrencySign]="true"
					[changeValues]="{
              change: row.return,
              changesPercentage: row.returnChange
            }"
				></div>
				<span *ngIf="!row.return">N/A</span>
			</td>
		</ng-container>

		<!-- value -->
		<ng-container matColumnDef="value">
			<th mat-header-cell *matHeaderCellDef class="hidden lg:table-cell">Value</th>
			<td mat-cell *matCellDef="let row" class="hidden lg:table-cell text-base">
				<span>{{ row.units }} * {{ row.unitValue | currency }}</span>
			</td>
		</ng-container>

		<!-- total -->
		<ng-container matColumnDef="total">
			<th mat-header-cell mat-sort-header *matHeaderCellDef class="hidden md:table-cell">Total</th>
			<td mat-cell *matCellDef="let row" class="table-cell">
				<div class="flex flex-col md:flex-row items-end md:items-center gap-x-2">
					<span class="g-color-text-normal text-base">{{ row.units * row.unitValue | currency}}</span>
					<!-- show this on md lower screen -->
					<div class="table-cell lg:hidden">
						<!-- SELL operation -->
						<div
							*ngIf="row.return"
							appPerceptageIncrease
							[useCurrencySign]="true"
							[changeValues]="{
                  changesPercentage: row.returnChange
              }"
						></div>
						<!-- BUY operation -->
						<div *ngIf="!row.return">{{ row.units }} * {{ row.unitValue | currency }}</div>
					</div>
				</div>
			</td>
		</ng-container>

		<!-- date -->
		<ng-container matColumnDef="date">
			<th mat-header-cell mat-sort-header *matHeaderCellDef class="hidden md:table-cell">Date</th>
			<td mat-cell *matCellDef="let row" class="hidden md:table-cell text-base text-gray-500">
				<span>{{ row.date | date: 'dd.MM.yyyy' }}</span>
			</td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedColumns" class="hidden sm:contents"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
	</table>
</div>

<!-- pagination -->
<div class="flex items-center justify-end md:justify-between">
	<div class="hidden md:block text-gray-400 text-base pl-4">Results: {{dataSource.data?.length}}</div>

	<mat-paginator
		appStylePaginator
		showFirstLastButtons
		[length]="dataSource.filteredData?.length"
		[appCustomLength]="dataSource.filteredData?.length"
		[pageSize]="12"
	></mat-paginator>
</div>
