<div class="sm:min-h-[350px]">
	<table
		mat-table
		matSort
		[dataSource]="dataSource"
		class="w-full"
		[trackBy]="identity"
		(matSortChange)="sortData($event)"
	>
		<!-- image & name -->
		<ng-container matColumnDef="symbol">
			<th mat-header-cell mat-sort-header *matHeaderCellDef class="hidden md:table-cell">Symbol</th>
			<td mat-cell *matCellDef="let row">
				<!-- logo + symbol -->
				<div class="flex items-center gap-2">
					<img [src]="row.assetId" imageType="assetId" appDefaultImg class="w-8 h-8" />
					<div class="flex flex-col">
						<!-- asset symbol + type -->
						<div class="flex flex-row gap-x-2">
							<span class="flex items-center gap-1 text-wt-gray-light"> {{ row.assetId }} </span>
							<span class="table-cell text-gray-500 lg:hidden">|</span>
							<span
								class="table-cell lg:hidden"
								[ngClass]="{
                  'text-wt-danger-medium': row.type === InvestmentAccountHoldingHistoryType.Sell,
                  'text-wt-success-medium': row.type === InvestmentAccountHoldingHistoryType.Buy
                }"
								>{{ row.type }}</span
							>
						</div>

						<!-- date  -->
						<div class="block text-sm text-gray-500 md:hidden">{{ row.date | date: 'dd.MM.yyyy' }}</div>
					</div>
				</div>
			</td>
		</ng-container>

		<!-- BUY / SELL order -->
		<ng-container matColumnDef="order">
			<th mat-header-cell mat-sort-header *matHeaderCellDef class="hidden lg:table-cell">Type</th>
			<td mat-cell *matCellDef="let row" class="hidden text-base lg:table-cell">
				<span
					[ngClass]="{
            'text-wt-danger-medium': row.type === InvestmentAccountHoldingHistoryType.Sell,
            'text-wt-success-medium': row.type === InvestmentAccountHoldingHistoryType.Buy
          }"
					>{{ row.type }}</span
				>
			</td>
		</ng-container>

		<!-- return -->
		<ng-container matColumnDef="return">
			<th mat-header-cell mat-sort-header *matHeaderCellDef class="hidden lg:table-cell">Return</th>
			<td mat-cell *matCellDef="let row" class="hidden text-base lg:table-cell">
				<div
					*ngIf="row.return"
					appPerceptageIncrease
					[useCurrencySign]="true"
					[changeValues]="{
              change: row.return,
              changesPercentage: row.returnChange
            }"
				></div>
				<span *ngIf="!row.return">N/A</span>
			</td>
		</ng-container>

		<!-- value -->
		<ng-container matColumnDef="value">
			<th mat-header-cell *matHeaderCellDef class="hidden lg:table-cell">Value</th>
			<td mat-cell *matCellDef="let row" class="hidden text-base lg:table-cell">
				<span>{{ row.units }} * {{ row.unitValue | currency }}</span>
			</td>
		</ng-container>

		<!-- total -->
		<ng-container matColumnDef="total">
			<th mat-header-cell mat-sort-header *matHeaderCellDef class="hidden md:table-cell">Total</th>
			<td mat-cell *matCellDef="let row" class="table-cell">
				<div class="flex flex-col items-end md:flex-row md:items-center gap-x-2">
					<span
						class="text-base"
						[ngClass]="{
            'text-wt-danger-medium': row.type === InvestmentAccountHoldingHistoryType.Sell,
            'text-wt-success-medium': row.type === InvestmentAccountHoldingHistoryType.Buy
          }"
						>{{ row.units * row.unitValue | currency}}</span
					>
					<!-- show this on md lower screen -->
					<div class="table-cell lg:hidden">
						<!-- SELL operation -->
						<!-- <div
							*ngIf="row.return"
							appPerceptageIncrease
							[useCurrencySign]="true"
							[changeValues]="{
                  changesPercentage: row.returnChange
              }"
						></div> -->
						<div>{{ row.units }} * {{ row.unitValue | currency }}</div>
					</div>
				</div>
			</td>
		</ng-container>

		<!-- date -->
		<ng-container matColumnDef="date">
			<th mat-header-cell mat-sort-header *matHeaderCellDef class="hidden md:table-cell">Date</th>
			<td mat-cell *matCellDef="let row" class="hidden text-base text-wt-gray-medium md:table-cell">
				<span>{{ row.date | date: 'dd.MM.yyyy' }}</span>
			</td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedColumns" class="hidden sm:contents"></tr>
		<tr
			mat-row
			*matRowDef="let row; columns: displayedColumns"
			appNotificationProgress
			notificationProgressMessage="Removing daily data"
			notificationMessage="Removing data"
			(notificationSuccessEmitter)="onRemove(row)"
		></tr>
	</table>
</div>

<!-- pagination -->
<div *ngIf="dataSource.filteredData" class="flex items-center justify-end md:justify-between">
	<div class="hidden pl-4 text-base text-gray-400 md:block">Results: {{dataSource.data.length}}</div>

	<mat-paginator
		appStylePaginator
		showFirstLastButtons
		[length]="dataSource.filteredData.length"
		[appCustomLength]="dataSource.filteredData.length"
		[pageSize]="25"
	></mat-paginator>
</div>
