<div class="flex flex-row justify-between gap-1 sm:flex-col">
	<div class="text-base text-center text-gray-300 sm:text-lg whitespace-nowrap">{{ periodChange.title }}</div>
	<div
		*ngIf="periodChange.value !== -1"
		class="justify-center text-base text-center xs:text-lg sm:text-xl"
		appPerceptageIncrease
		[useCurrencySign]="true"
		[changeValues]="{change: periodChange.value, changesPercentage: periodChange.valuePrct}"
	></div>
	<div *ngIf="periodChange.value === -1" class="text-base text-center text-gray-500 sm:text-xl">N/A</div>
</div>
