<div class="flex flex-row sm:flex-col gap-1 justify-between" [ngClass]="{'max-sm:hidden': periodChange.value === -1}">
	<div class="text-gray-300 text-base sm:text-lg whitespace-nowrap">{{ periodChange.title }}</div>
	<div
		*ngIf="periodChange.value !== -1"
		class="text-base xs:text-lg sm:text-xl"
		appPerceptageIncrease
		[useCurrencySign]="true"
		[changeValues]="{change: periodChange.value, changesPercentage: periodChange.valuePrct}"
	></div>
	<div *ngIf="periodChange.value === -1" class="text-base sm:text-xl text-gray-500">N/A</div>
</div>
