@use '@angular/material' as mat;
// @import '@angular/material/theming';

// custom styles
@import './material/mat-table.scss';
@import './material/mat-form-field.scss';
@import './material/mat-select.scss';
@import './material/mat-button.scss';
@import './material/mat-dialog.scss';
@import './material/mat-date-picker.scss';
@import './material/mat-radio.scss';
@import './material/mat-input.scss';
@import './material/mat-list.scss';
@import './material/mat-tab.scss';
@import './material/mat-menu.scss';
@import './material/mat-chip.scss';
@import './material/mat-card.scss';
@import './material/mat-checkbox.scss';
@import './material/mat-paginator.scss';
@import './material/mat-slider.scss';
@import './material/mat-progress-bar.scss';
@import './material/mat-tooltip.scss';

// COLOR PALETTE GENERATOR - http://mcg.mbitson.com/
@import './material/mat-custom-colors.scss';

@include mat.core();

$custom-typography: mat.define-typography-config(
	$font-family: 'Poppins, sans-serif',
);

// dark theme
$mat-theming-dark: mat.define-light-theme(
	(
		color: (
			primary: mat.define-palette($custom-primary),
			accent: mat.define-palette($custom-success),
			warn: mat.define-palette($custom-warn),
		),
	)
);

// light theme
$mat-theming-light: mat.define-dark-theme(
	(
		color: (
			primary: mat.define-palette($custom-primary-light),
			accent: mat.define-palette($custom-success-light),
			warn: mat.define-palette($custom-warn),
		),
	)
);

@include mat.typography-hierarchy($custom-typography);
@include mat.all-component-themes($mat-theming-dark);

.light-theme {
	@include mat.all-component-colors($mat-theming-light);
}
