<mat-list>
	<ng-container *ngFor="let item of personalAccountDailyData">
		<div mat-subheader>{{item.date | date: 'EEEE, MMM d.'}}</div>
		<mat-selection-list [multiple]="false">
			<mat-list-option *ngFor="let data of item.data" class="mb-2">
				<div class="flex items-center justify-between">
					<div class="flex items-center gap-3">
						<!-- tag svg -->
						<!--
              		style="border-color: {{data.personalAccountTag.color}}"
							  class="px-2 rounded-md border-x-4 h-7"
             -->
						<img class="h-7" appDefaultImg imageType="url" [src]="data.personalAccountTag.imageUrl" />

						<!-- tag data -->
						<div class="flex flex-col">
							<span class="text-gray-200">
								<!-- <span style="color: {{data.personalAccountTag.color}}">●</span> -->
								{{ data.personalAccountTag.name }}
							</span>
							<span class="text-gray-400">{{ data.date | date: 'h:mm a' }}</span>
						</div>
					</div>

					<div
						[ngClass]="{
              'text-wt-danger-medium': data.personalAccountTag.type === TagDataType.Expense,
              'text-wt-success-medium': data.personalAccountTag.type === TagDataType.Income
            }"
					>
						{{ data.value | currency }}
					</div>
				</div>
			</mat-list-option>
		</mat-selection-list>
		<mat-divider></mat-divider>
	</ng-container>
</mat-list>
