<!-- <div class="flex items-center justify-end p-2 sm:justify-between md:px-8">

	<h2 class="hidden text-3xl text-gray-400 sm:block">Wealth tracker</h2>

	<div>To the application button</div>
</div> -->

<div>
	<app-welcome-hero></app-welcome-hero>
</div>

<div class="mt-[120px]">
	<app-welcome-personal-account></app-welcome-personal-account>
</div>

<app-welcome-investment-account></app-welcome-investment-account>

<app-welcome-about></app-welcome-about>

<!-- empty footer -->
<footer></footer>
