<div mat-dialog-title class="flex flex-col items-center justify-between px-2 sm:flex-row">
	<h2>Account manager</h2>
	<div>
		<!-- create button -->
		<button
			*ngIf="showSelectAccount"
			mat-stroked-button
			color="accent"
			(click)="onCreateNewAccountClick()"
			matTooltip="Create new account"
		>
			<mat-icon>add</mat-icon>
			Create new
		</button>

		<!-- delete button -->
		<button
			*ngIf="!!selectedAccountControl.value"
			mat-stroked-button
			color="warn"
			(click)="onDeleteAccountClick(selectedAccountControl.value)"
			matTooltip="Delete selected account"
		>
			<mat-icon>delete</mat-icon>
			Delete account
		</button>
	</div>
</div>

<!-- content -->
<mat-dialog-content>
	<!-- account lists -->
	<app-list-accounts
		*ngIf="showSelectAccount"
		[formControl]="selectedAccountControl"
		[personalAccounts]="personalAccounts$ | async"
		[investmentAccounts]="investmentAccounts$ | async"
	></app-list-accounts>

	<!-- editing form -->
	<form *ngIf="!showSelectAccount" [formGroup]="accountForm" class="p-4" (ngSubmit)="onSubmit()">
		<div *ngIf="!selectedAccountControl.value" class="p-2 text-lg text-center text-gray-400">
			To create an account, enter the account name and select account type
		</div>

		<!-- account name -->
		<app-form-mat-input-wrapper
			controlName="accountName"
			hintText="Enter name of your account"
		></app-form-mat-input-wrapper>

		<!-- account type -->
		<app-form-mat-input-wrapper
			controlName="accountType"
			inputType="SELECT"
			hintText="Choose your account type"
			[disabled]="!!selectedAccountControl.value"
			[inputSource]="GeneralAccountTypeInputSource"
		></app-form-mat-input-wrapper>

		<!-- form action buttons -->
		<div class="flex flex-col-reverse gap-2 sm:flex-row">
			<button type="button" mat-stroked-button (click)="onCancelClick()" class="flex-1">Cancel</button>
			<button type="submit" mat-stroked-button color="primary" class="flex-1">
				<mat-icon *ngIf="showLoader" class="animate-spin">cached</mat-icon>
				Save
			</button>
		</div>
	</form>
</mat-dialog-content>

<div class="my-4">
	<mat-divider></mat-divider>
</div>

<!-- action buttons -->
<mat-dialog-actions>
	<div class="justify-end g-dialog-button-wrapper">
		<button mat-stroked-button mat-dialog-close type="button" class="lg:w-auto">Cancel</button>
	</div>
</mat-dialog-actions>
