<mat-card
	appearance="outlined"
	[ngClass]="{
    'bg-transparent shadow-none': !showDataInCard,
    'shadow-lg g-background-card-color': showDataInCard
}"
>
	<!-- title -->
	<mat-card-header class="justify-center">
		<mat-card-title class="mb-0">
			<img *ngIf="titleImgUrl" appDefaultImg [src]="titleImgUrl" />
			<h3 class="mb-0 text-xl xl:text-2xl text-wt-primary-dark">{{ title }}</h3>
		</mat-card-title>
	</mat-card-header>

	<!-- content -->
	<mat-card-content>
		<!-- default content -->
		<div class="default text-wt-gray-medium">No data has been found</div>

		<ng-content></ng-content>
	</mat-card-content>
</mat-card>
