<mat-form-field class="h-0 scale-0">
	<div class="hidden">
		<input
			[min]="inputTypeDateTimePickerConfig?.minDate"
			[max]="inputTypeDateTimePickerConfig?.maxDate"
			matInput
			[matDatepicker]="datePicker"
			[matDatepickerFilter]="inputTypeDateTimePickerConfig?.dateFilter ?? defaultDateFilter"
			[formControl]="selectedDate"
		/>
		<mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
		<mat-datepicker #datePicker></mat-datepicker>
	</div>
</mat-form-field>

<div class="mb-5">
	<button (click)="datePicker.open()" type="button" mat-stroked-button class="w-full min-h-[50px]">
		{{selectedDate.value ? (selectedDate.value | date: 'dd.MM.YYYY' ) : 'Please select a date'}}
	</button>
</div>
