:host {
	tr {
		height: 60px;
	}

	.mat-column-symbol {
		min-width: 75px;
		width: max-content;

		div {
			div {
				margin-right: 16px;
			}
		}

		@screen sm {
			width: auto;
			max-width: 180px;
			//max-width: 140px;
		}
	}

	.mat-column-price {
		min-width: 75px;
	}
}
