<div
	class="flex items-center gap-3 m-auto"
	[ngClass]="{'flex-col': !isFlexRow}"
	[style.max-height.px]="flexColHeightPx"
>
	<!-- left / top arrow -->
	<button
		mat-stroked-button
		[disabled]="isLeftScrollDisabled"
		(click)="onScollChange('decement')"
		[style.height.px]="buttonHeightPx"
		[ngClass]="{'w-full': !isFlexRow}"
	>
		<mat-icon *ngIf="isFlexRow">arrow_back_ios</mat-icon>
		<mat-icon *ngIf="!isFlexRow">keyboard_arrow_up</mat-icon>
	</button>

	<!-- content projection -->
	<div #contentWrapper class="c-content-wrapper" [ngClass]="{'flex-col': !isFlexRow}">
		<ng-content></ng-content>
	</div>

	<!-- right / bottom arrow -->
	<button
		[disabled]="isRightScrollDisabled"
		mat-stroked-button
		(click)="onScollChange('increment')"
		[style.height.px]="buttonHeightPx"
		[ngClass]="{'w-full': !isFlexRow}"
	>
		<mat-icon *ngIf="isFlexRow">arrow_forward_ios</mat-icon>
		<mat-icon *ngIf="!isFlexRow">keyboard_arrow_down</mat-icon>
	</button>
</div>
