:host {
	display: block;

	button {
		border: 1px solid #9d98984a;
		width: 16px;
	}

	.c-content-wrapper {
		overflow-x: scroll;
		overflow-y: hidden;
		white-space: nowrap;
		display: flex;
		scroll-behavior: smooth;
		gap: 8px;

		-ms-overflow-style: none; /* Internet Explorer 10+ */
		scrollbar-width: none; /* Firefox */

		&::-webkit-scrollbar {
			display: none; /* Safari and Chrome */
		}
	}
}
