<div class="grid gap-2">
	<!-- selected tag -->
	<div class="c-item-wrapper">
		<div
			[ngClass]="{
      'g-color-danger':  tagType === TagDataType.Expense,
      'g-color-success':  tagType === TagDataType.Income
    }"
		>
			{{ tagType === TagDataType.Expense ? 'Expense' : 'Income' }}:
		</div>
		<div class="flex items-center gap-2">
			<ng-container *ngIf="tag">
				<img appDefaultImg imageType="url" [src]="tag.imageUrl" class="h-7" />
				<span>{{ tag.name }}</span>
			</ng-container>
		</div>
	</div>

	<!-- selected time -->
	<div *ngIf="time" class="c-item-wrapper">
		<div>Time</div>
		<div>{{ time | date: 'h:mm a' }}</div>
	</div>
	<!-- selected date -->
	<div *ngIf="date" class="c-item-wrapper">
		<div>Date</div>
		<div>{{ date | date: 'MMM d' }}</div>
	</div>

	<!-- selected value -->
	<div *ngIf="value" class="c-item-wrapper">
		<div>Value</div>
		<div>{{ value | currency }}</div>
	</div>

	<!-- remove button -->
	<div *ngIf="isEditing" class="p-2 c-item-wrapper">
		<button mat-stroked-button color="warn" class="w-full" type="button" (click)="onRemove()">
			<mat-icon *ngIf="!isRemoving">delete</mat-icon>
			<mat-icon *ngIf="isRemoving" class="animate-spin">cached</mat-icon>
			Remove
		</button>
	</div>
</div>
