<form [formGroup]="formGroup" class="space-y-4" (ngSubmit)="onSubmit()">
	<!-- email -->
	<app-form-mat-input-wrapper
		hintText="Enter your email address"
		controlName="email"
		inputCaption="Email"
		inputType="EMAIL"
	></app-form-mat-input-wrapper>

	<!-- password1 -->
	<app-form-mat-input-wrapper
		hintText="Enter your password"
		controlName="password1"
		inputCaption="Password"
		inputType="PASSWORD"
	></app-form-mat-input-wrapper>

	<!-- password2 -->
	<app-form-mat-input-wrapper
		hintText="Repeat your password"
		controlName="password2"
		inputCaption="Password"
		inputType="PASSWORD"
	></app-form-mat-input-wrapper>

	<!-- submit -->
	<button mat-stroked-button class="w-full g-color-success" type="submit">Register</button>
</form>
