<div class="mt-3 mb-1">
	<app-investment-account-portfolio-growth-action
		*ngIf="displayedInvestmentAccountGrowth.length > 1"
		[showFullChartButton]="displayedInvestmentAccountGrowth.length > sliceStart"
		[startDate]="displayedInvestmentAccountGrowth[0].date"
		[endDate]="displayedInvestmentAccountGrowth[displayedInvestmentAccountGrowth.length - 1].date"
		(assetShowClickEmitter)="onAssetShowClick()"
		(fullChartShowClickEmitter)="onFullChartToggle()"
	></app-investment-account-portfolio-growth-action>
</div>

<app-investment-account-portfolio-growth-chart
	[investmentAccountGrowth]="displayedInvestmentAccountGrowth"
></app-investment-account-portfolio-growth-chart>
