<div class="mt-3 -mb-3">
	<app-investment-account-portfolio-growth-action
		[startDate]="investmentAccountGrowth[0].date"
		[endDate]="investmentAccountGrowth[investmentAccountGrowth.length - 1].date"
		(assetShowClickEmitter)="onAssetShowClick()"
		(fullChartShowClickEmitter)="onFullChartToggle()"
	></app-investment-account-portfolio-growth-action>
</div>

<app-investment-account-portfolio-growth-chart
	[investmentAccountGrowth]="displayedInvestmentAccountGrowth"
></app-investment-account-portfolio-growth-chart>
