<div *ngIf="displayType === 'buttons' " class="c-action-button-wrapper">
	<button
		type="button"
		mat-stroked-button
		color="primary"
		(click)="onActionButtonClick('tagManagement')"
		class="c-action-button"
	>
		<mat-icon>sell</mat-icon>
		Manage Tags
	</button>
</div>

<ng-container *ngIf="displayType === 'menu' ">
	<button type="button" mat-stroked-button [matMenuTriggerFor]="menu">
		<mat-icon>settings</mat-icon>
		Settings
	</button>
	<mat-menu #menu="matMenu">
		<button mat-menu-item (click)="onActionButtonClick('tagManagement')">
			<mat-icon>sell</mat-icon>
			Manage Tags
		</button>
	</mat-menu>
</ng-container>
