<form [formGroup]="formGroup" class="space-y-4" (ngSubmit)="onSubmit()">
	<!-- email -->
	<app-form-mat-input-wrapper
		hintText="Enter your email address"
		controlName="email"
		inputCaption="Email"
		inputType="EMAIL"
	></app-form-mat-input-wrapper>

	<!-- password -->
	<app-form-mat-input-wrapper
		hintText="Enter your password"
		controlName="password"
		inputCaption="Password"
		inputType="PASSWORD"
	></app-form-mat-input-wrapper>

	<!-- submit -->
	<button mat-stroked-button color="primary" class="w-full" type="submit">Login</button>

	<!-- development -->
	<button
		*ngIf="!isProduction"
		mat-stroked-button
		color="accent"
		class="w-full"
		type="button"
		(click)="onDevelopmentLogin()"
	>
		Development
	</button>
</form>
