<div class="flex items-center justify-end py-2 sm:justify-between md:px-4">
	<!-- title -->
	<h2 class="hidden space-x-2 text-2xl lg:text-4xl sm:block">
		<span class="text-wt-primary-dark">Spend</span>
		<span class="text-white">Mindful</span>
	</h2>

	<!-- right section -->
	<div *ngIf="authenticatedUser$ | async as user; else chipSkeleton" class="flex items-center gap-4 max-sm:w-full">
		<mat-chip-listbox aria-label="Authenticated user" class="max-sm:w-full">
			<mat-chip [matMenuTriggerFor]="menu" class="h-12 p-5 max-sm:w-full min-w-[250px]">
				<img appDefaultImg matChipAvatar [src]="user.imageUrl" alt="Authenticated user photo" class="h-7 w-7" />
				{{user.username}}
			</mat-chip>
		</mat-chip-listbox>

		<!-- menu when clicking on mat-chip -->
		<mat-menu #menu="matMenu">
			<!-- user's accounts -->
			<button
				*ngFor="let account of availableAccounts$ | async"
				mat-menu-item
				(click)="onAccountButtonClick(account)"
				class="h-[52px]"
			>
				<mat-icon>manage_accounts</mat-icon>
				<span>{{account.name}}</span>
			</button>

			<mat-divider></mat-divider>

			<!-- additional functionalities -->
			<button class="h-[52px]" mat-menu-item (click)="onUserProfile()">
				<mat-icon>manage_accounts</mat-icon>
				<span>User profile</span>
			</button>
			<button class="h-[52px]" mat-menu-item (click)="onManageAccountClick()">
				<mat-icon>account_balance_wallet</mat-icon>
				<span>Manage accounts</span>
			</button>
			<button class="h-[52px]" mat-menu-item (click)="onAboutProjectClick()">
				<mat-icon>eco</mat-icon>
				<span>About</span>
			</button>
			<button class="h-[52px]" mat-menu-item (click)="onUserLogout()">
				<mat-icon>logout</mat-icon>
				<span>Logout</span>
			</button>
		</mat-menu>
	</div>

	<!-- skeleton -->
	<ng-template #chipSkeleton>
		<div class="w-full sm:w-[200px] h-12 g-skeleton"></div>
	</ng-template>
</div>
