<div class="flex items-center justify-end p-2 sm:justify-between md:px-8">
	<h2 class="hidden text-3xl text-gray-400 sm:block">Wealth tracker</h2>

	<!-- right section -->
	<div *ngIf="authenticatedUser$ | async as user; else noUser" class="flex items-center gap-4">
		<mat-chip-list aria-label="Authenticated user">
			<mat-chip
				[matMenuTriggerFor]="menu"
				class="p-5 bg-transparent border-2 border-solid cursor-pointer g-color-primary"
			>
				<img appDefaultImg matChipAvatar [src]="user.imageUrl" alt="Authenticated user photo" />
				{{user.username}}
			</mat-chip>
		</mat-chip-list>

		<!-- menu when clicking on mat-chip -->
		<mat-menu #menu="matMenu">
			<button mat-menu-item (click)="onUserProfile()">
				<mat-icon>manage_accounts</mat-icon>
				<span>User profile</span>
			</button>
			<button mat-menu-item (click)="onManageAccountClick()">
				<mat-icon>account_balance_wallet</mat-icon>
				<span>Manage accounts</span>
			</button>
			<button mat-menu-item (click)="onUserLogout()">
				<mat-icon>logout</mat-icon>
				<span>Logout</span>
			</button>
		</mat-menu>
	</div>

	<!-- login section -->
	<ng-template #noUser>
		<button (click)="onLoginClick()" mat-stroked-button color="primary">Login</button>
	</ng-template>
</div>
