.mat-mdc-menu-panel {
	background-color: var(--gray-dark-2) !important;

	.mat-mdc-menu-content {
		button {
			color: var(--gray-light) !important;

			mat-icon {
				color: var(--gray-light) !important;
			}
		}
	}
}

.mdc-list-item__primary-text {
	color: var(--gray-light) !important;
}
