.mat-radio-group {
	.mat-radio-button {
		border: 1px solid #838181;
		border-radius: 8px;
		padding: 6px 16px;

		.mat-radio-label {
			.mat-radio-container {
				.mat-radio-inner-circle {
					//background-color: red;
				}

				.mat-radio-outer-circle {
					border-color: rgba(176, 176, 176, 0.4);
				}
			}

			.mat-radio-label-content {
				font-weight: normal;
				letter-spacing: 0.3px;
			}
		}

		&.mat-radio-checked {
			.mat-radio-label {
				.mat-radio-container {
					.mat-radio-outer-circle {
						//border-color: blue;
					}
				}
			}
		}
	}
}

// disabled state
.mat-radio-button.mat-radio-disabled .mat-radio-label-content {
	color: var(--color-gray-700) !important;
}

fieldset:disabled {
	mat-radio-button {
		background-color: var(--color-gray-800) !important;
	}
}
