.mat-input-element:disabled,
.mat-form-field-type-mat-native-select.mat-form-field-disabled .mat-form-field-infix::after {
	color: var(--gray-dark) !important;
}

fieldset:disabled {
	mat-form-field {
		.mat-form-field-outline {
			background-color: var(--gray-dark) !important;
		}
	}
}
