.mat-mdc-dialog-container .mdc-dialog__surface {
	background: var(--background-dark) !important;
	color: var(--gray-light) !important;
	padding-left: 16px !important;
	padding-right: 16px !important;
	padding-bottom: 16px !important;
	padding-left: 0 !important;

	@screen sm {
		padding: 24px !important;
	}
}

mat-dialog-content {
	position: relative !important;
}

.mat-mdc-dialog-container .mdc-dialog__content {
	color: var(--gray-light) !important;
}

/* TODO(mdc-migration): The following rule targets internal classes of dialog that may no longer apply for the MDC version.*/
/* TODO(mdc-migration): The following rule targets internal classes of dialog that may no longer apply for the MDC version.*/
.g-mat-dialog-big {
	.mat-mdc-dialog-content {
		max-height: none;

		@screen md {
			max-height: 70vh;
		}
	}

	.mat-mdc-dialog-container {
		height: 100vh !important;
		width: 100vw !important;

		@screen md {
			height: auto !important;
		}

		@screen md {
			width: 80vw !important;
		}

		@screen xl {
			width: 70vw !important;
		}

		@screen 2xl {
			width: 60vw !important;
		}
	}
}

/* TODO(mdc-migration): The following rule targets internal classes of dialog that may no longer apply for the MDC version.*/
/* TODO(mdc-migration): The following rule targets internal classes of dialog that may no longer apply for the MDC version.*/
.g-mat-dialog-medium {
	.mat-mdc-dialog-content {
		max-height: none;

		@screen sm {
			max-height: 70vh;
		}
	}

	.mat-mdc-dialog-container {
		height: 100vh !important;
		width: 100vw !important;

		@screen sm {
			height: auto !important;
		}

		@screen md {
			width: 70vw !important;
		}

		@screen xl {
			width: 60vw !important;
		}

		@screen 2xl {
			width: 50vw !important;
		}
	}
}

/* TODO(mdc-migration): The following rule targets internal classes of dialog that may no longer apply for the MDC version.*/
/* TODO(mdc-migration): The following rule targets internal classes of dialog that may no longer apply for the MDC version.*/
.g-mat-dialog-small {
	.mat-mdc-dialog-content {
		max-height: none;

		@screen sm {
			max-height: 70vh;
		}
	}

	.mat-mdc-dialog-container {
		height: 100vh !important;
		width: 100vw !important;

		@screen sm {
			height: auto !important;
		}

		@screen md {
			width: 60vw !important;
		}

		@screen lg {
			width: 50vw !important;
		}

		@screen xl {
			width: 45vw !important;
		}

		@screen 2xl {
			width: 40vw !important;
		}
	}
}

.mat-dialog-actions .mat-mdc-button-base + .mat-button-base,
.mat-dialog-actions .mat-mdc-button-base + .mat-mdc-button-base {
	margin-left: 0 !important;
}

.g-dialog-button-wrapper {
	@apply flex flex-col-reverse lg:flex-row items-center gap-2 w-full;
	button {
		@apply w-full min-w-[240px];
	}
}

.g-mat-dialog-actions-full {
	@apply flex flex-col-reverse sm:flex-row items-center gap-2 w-full;
	button {
		@apply w-full flex-1;
	}
}

.g-mat-dialog-actions-end {
	@apply flex flex-col-reverse sm:flex-row justify-end items-center gap-2 flex-1;
	button {
		@apply min-w-[220px] w-full sm:w-auto max-md:flex-1;
	}
}

.mdc-dialog .mdc-dialog__content {
	padding: 16px !important;

	@screen sm {
		padding: 20px 24px 20px 24px;
	}
}

.cdk-overlay-transparent-backdrop.cdk-overlay-backdrop-showing {
	opacity: 0.8 !important;
	background: #00000040 !important;
}

.mat-mdc-tab-body-content {
	overflow: hidden !important;
}
