// turning default arrow to chevron
/* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version.*/
.mat-mdc-select-arrow {
	font-family: 'Material Icons';
	border: 0 !important;
	color: var(--gray-light) !important;

	&:before {
		font-size: 16px;
		display: block;
		margin-top: -10px;
		margin-left: -12px;
		width: fit-content;
	}

	[aria-expanded='false'] &:before {
		content: 'expand_more';
	}

	[aria-expanded='true'] &:before {
		content: 'expand_less';
	}
}

.mat-mdc-select-arrow svg {
	display: none !important;
}

// custom arrow is reaching into trigger space
mat-select-trigger {
	margin-right: 8px;
	overflow: clip;
}

.mat-mdc-select-value {
	color: var(--gray-light) !important;
}

.mat-mdc-select-min-line {
	font-size: 14px !important;
}

.mdc-menu-surface.mat-mdc-select-panel {
	background: var(--background-dark) !important;
}

.select-input {
	background: transparent !important;
	color: white;
}

.mat-mdc-optgroup-label {
	span {
		color: var(--gray-medium) !important;
		font-size: 14px !important;
	}
}

/* hover */
.mat-mdc-option:hover:not(.mdc-list-item--disabled),
.mat-mdc-option:focus:not(.mdc-list-item--disabled),
.mat-mdc-option.mat-mdc-option-active,
.mat-mdc-option.mdc-list-item--selected:not(.mat-mdc-option-multiple):not(.mdc-list-item--disabled) {
	background: var(--background-dark) !important;
}

.mdc-menu-surface.mat-mdc-autocomplete-panel.mat-mdc-autocomplete-visible {
	background: var(--background-dark) !important;
}

/* distance between content and scroll bar */
.cdk-overlay-pane:not(.mat-mdc-select-panel-above) .mdc-menu-surface.mat-mdc-select-panel {
	padding-right: 12px !important;
}

.cdk-overlay-pane {
	max-width: 99vw !important;
}

.mat-pseudo-checkbox-full {
	border-color: var(--gray-dark) !important;
}
