.mat-menu-panel {
	background-color: var(--gray-dark) !important;

	.mat-menu-content {
		button {
			color: var(--gray-light) !important;

			mat-icon {
				color: var(--gray-light) !important;
			}
		}
	}
}
