.mat-mdc-tab-link .mdc-tab__text-label {
	color: var(--gray-light) !important;
	// flex: 1 !important;
}

.mdc-tab--active .mdc-tab__text-label {
	color: var(--secondary-dark) !important;
}

.mat-mdc-tab-list {
	margin-bottom: 16px !important;
}

.mat-mdc-tab-body {
	padding: 8px !important;
}

.mat-mdc-tab .mdc-tab__text-label {
	color: var(--gray-medium) !important;
}
