// decreasing height of form field with font-size
.mat-mdc-form-field {
	font-size: 12px !important;

	input,
	textarea,
	.mat-mdc-select-placeholder,
	mat-select {
		font-size: 1rem;
	}

	.mat-mdc-form-field-infix {
		label {
			// font-size: 1rem !important;
			margin-top: -4px !important;
			color: var(--gray-medium) !important;
		}
	}

	.mat-form-field-prefix {
		mat-icon {
			font-size: 18px;
			color: var(--gray-light) !important;
		}
	}
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
// app-form-mat-input-wrapper-one-line[inputtype='TEXTAREA'] .mat-form-field-infix,
// app-form-mat-input-wrapper[ng-reflect-input-type='TEXTAREA'] .mat-form-field-infix {
// 	height: fit-content;
// }

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
mat-form-field.mat-form-field-should-float label {
	font-size: 1rem !important;
	margin-top: -0.25rem !important;
}

// .filter-sizing-no-outline {
// 	padding: 0 1rem;

// 	@screen md {
// 		padding: 0;
// 	}
// 	/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
// 	.mat-form-field-outline {
// 		opacity: 0 !important;
// 	}
// 	/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
// 	.mat-form-field-infix {
// 		width: 140px !important;
// 	}
// 	/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
// 	.mat-form-field-flex {
// 		padding: 0 !important;
// 	}

// 	label {
// 		color: var(--gray-light) !important;
// 	}
// }

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
.mat-form-field-appearance-outline .mat-form-field-outline {
	font-size: 14px !important;
	color: var(--gray-light) !important;
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
mat-form-field span.mat-form-field-label-wrapper label {
	font-size: 14px !important;
	color: var(--gray-light) !important;
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
mat-form-field.mat-focused span.mat-form-field-label-wrapper label {
	color: var(--primary-dark) !important;
}

// on Error
/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
.mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick {
	color: var(--primary-dark) !important;
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
.mat-mdc-form-field.mat-form-field-invalid .mat-form-field-label {
	color: var(--primary-dark) !important;
}

mat-hint {
	color: var(--gray-light) !important;
}

mat-divider {
	background-color: var(--gray-medium) !important;
}

.mat-mdc-form-field-error {
	font-size: 11px !important;
}

.mat-mdc-text-field-wrapper {
	background: #293072 !important;
}
