mat-dialog-container {
	width: 100vw !important;
	background: var(--color-main-dialog) !important;
	color: var(--color-gray-200) !important;
	padding: 24px !important;

	@screen md {
		width: auto !important;
	}

	// @screen xl {
	// 	width: 60vw !important;
	// }
}

.g-mat-dialog-big .mat-dialog-content {
	max-height: none;

	@screen sm {
		max-height: 65vh;
	}
}

.g-mat-dialog-big .mat-dialog-container {
	height: 98vh !important;

	@screen sm {
		height: auto !important;
	}

	@screen md {
		width: 75vw !important;
	}

	@screen xl {
		width: 60vw !important;
	}
}

.mat-dialog-actions .mat-button-base + .mat-button-base,
.mat-dialog-actions .mat-mdc-button-base + .mat-mdc-button-base {
	margin-left: 0 !important;
}

.mat-dialog-container {
	padding: 30px !important;
}
