.mdc-slider__track--inactive {
	background-color: #ffffff !important;
}

.mat-mdc-slider.mdc-slider--disabled .mdc-slider__track--active_fill {
	border-color: var(--gray-medium) !important;
}

.mat-mdc-slider.mdc-slider--disabled .mdc-slider__thumb-knob {
	background-color: var(--gray-medium) !important;
	border-color: var(--gray-medium) !important;
}
