
/* TODO(mdc-migration): The following rule targets internal classes of dialog that may no longer apply for the MDC version.*/
mat-dialog-container {
	width: 100vw !important;
	background: var(--background-dark) !important;
	color: var(--gray-light) !important;
	padding: 24px !important;

	@screen md {
		width: auto !important;
	}

	// @screen xl {
	// 	width: 60vw !important;
	// }
}

/* TODO(mdc-migration): The following rule targets internal classes of dialog that may no longer apply for the MDC version.*/
/* TODO(mdc-migration): The following rule targets internal classes of dialog that may no longer apply for the MDC version.*/
.g-mat-dialog-big {
	.mat-mdc-dialog-content {
		max-height: none;

		@screen sm {
			max-height: 65vh;
		}
	}

	.mat-mdc-dialog-container {
		height: 98vh !important;

		@screen sm {
			height: auto !important;
		}

		@screen md {
			width: 80vw !important;
		}

		@screen xl {
			width: 70vw !important;
		}

		@screen 2xl {
			width: 60vw !important;
		}
	}
}

/* TODO(mdc-migration): The following rule targets internal classes of dialog that may no longer apply for the MDC version.*/
/* TODO(mdc-migration): The following rule targets internal classes of dialog that may no longer apply for the MDC version.*/
.g-mat-dialog-medium {
	.mat-mdc-dialog-content {
		max-height: none;

		@screen sm {
			max-height: 65vh;
		}
	}

	.mat-mdc-dialog-container {
		height: 98vh !important;

		@screen sm {
			height: auto !important;
		}

		@screen md {
			width: 70vw !important;
		}

		@screen xl {
			width: 60vw !important;
		}

		@screen 2xl {
			width: 50vw !important;
		}
	}
}

/* TODO(mdc-migration): The following rule targets internal classes of dialog that may no longer apply for the MDC version.*/
/* TODO(mdc-migration): The following rule targets internal classes of dialog that may no longer apply for the MDC version.*/
.g-mat-dialog-small {
	.mat-mdc-dialog-content {
		max-height: none;

		@screen sm {
			max-height: 65vh;
		}
	}

	.mat-mdc-dialog-container {
		height: 98vh !important;

		@screen sm {
			height: auto !important;
		}

		@screen md {
			width: 50vw !important;
		}

		@screen xl {
			width: 45vw !important;
		}

		@screen 2xl {
			width: 40vw !important;
		}
	}
}

.mat-dialog-actions .mat-mdc-button-base + .mat-button-base,
.mat-dialog-actions .mat-mdc-button-base + .mat-mdc-button-base {
	margin-left: 0 !important;
}

.mat-mdc-dialog-container {
	padding: 30px !important;
}

.g-dialog-button-wrapper {
	@apply flex flex-col-reverse lg:flex-row items-center gap-2 w-full;
	button {
		@apply w-full min-w-[240px];
	}
}
