.mat-mdc-input-element:disabled,
.mat-mdc-form-field-type-mat-native-select.mat-mdc-form-field-disabled .mat-mdc-form-field-infix::after {
	color: var(--gray-dark) !important;
}

fieldset:disabled {
	mat-form-field {
		.mat-mdc-text-field-wrapper {
			background-color: var(--gray-dark) !important;
		}
	}
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
	color: var(--gray-light) !important;
}

input {
	font-size: 16px !important;
}
