table[mat-table] {
	background: transparent;
	width: 100%;

	thead {
		tr {
			th {
				@apply text-xs text-gray-300;
			}
		}
	}

	tbody {
		tr {
			td {
				@apply text-gray-400;
				border-bottom: 1px solid var(--table-border);

				&:first-child {
					@apply pl-0 sm:pl-4;
				}
			}
		}
	}

	.mat-row {
		transition: All 0.3s ease-out;
		cursor: pointer;
		border-radius: 8px;

		&:hover {
			background-color: var(--table-hover);
		}
	}

	th.mat-header-cell:last-of-type,
	td.mat-cell:last-of-type,
	td.mat-footer-cell:last-of-type {
		padding-right: 8px !important;
	}
}
