<fieldset [disabled]="isDisabled">
	<mat-form-field appearance="fill" class="w-full">
		<mat-label>Search by symbol</mat-label>
		<input matInput [formControl]="formControl" [matAutocomplete]="auto" />
		<mat-hint>Ex: 'Apple, Microsoft, BTC, ETH'</mat-hint>

		<!-- display options -->
		<mat-autocomplete #auto="matAutocomplete">
			<!-- options -->
			<mat-option *ngFor="let option of searchedResults$ | async" (onSelectionChange)="onSelect(option)">
				<div class="flex items-center gap-2">
					<img appDefaultImg [src]="option?.symbolImageURL" alt="Asset image" class="h-[30px] w-[30px]" />
					<div class="text-ellipsis whitespace-nowrap overflow-hidden">{{ option.name }}</div>
				</div>
			</mat-option>
		</mat-autocomplete>
	</mat-form-field>
</fieldset>

<!-- spinner -->
<div *ngIf="searching" class="w-full my-4">
	<mat-spinner diameter="60" class="m-auto"></mat-spinner>
</div>
