<h2 class="text-lg text-center">Select Tag Image</h2>

<mat-dialog-content class="grid grid-cols-3 md:grid-cols-5 gap-x-6 gap-y-4">
	<button *ngFor="let data of availableTagImages$ | async" mat-stroked-button class="h-20" (click)="onImageClick(data)">
		<div>
			<img [src]="data" alt="tag image" class="w-14 h-14" />
		</div>
	</button>
</mat-dialog-content>

<div class="mt-4 mb-2">
	<mat-divider></mat-divider>
</div>

<!-- action buttons -->
<mat-dialog-actions class="justify-end">
	<button mat-stroked-button mat-dialog-close type="button" class="min-w-[240px]">Cancel</button>
</mat-dialog-actions>
