.welcome-full {
	position: relative;
	width: 100%;
	min-height: 100vh;
	margin: auto;
	max-width: 1440px;

	@screen md {
		width: 90%;
	}

	@screen lg {
		width: 80%;
	}

	@screen xl {
		width: 70%;
	}
}

.welcome-body-1 {
	@apply text-lg;

	@screen sm {
		@apply text-xl;
	}

	@screen md {
		@apply text-2xl;
	}
}

.welcome-paragraph-title {
	margin-bottom: 64px !important;
	text-align: center;

	@screen lg {
		text-align: start;
	}

	@apply text-wt-primary-dark;
}

.welcome-paragraph {
	margin-bottom: 40px !important;
	width: 85%;
	text-align: center;

	@screen sm {
		width: 75%;
	}

	@apply mx-auto lg:even:text-right lg:even:ml-auto lg:even:mr-0 lg:odd:text-left lg:odd:mr-auto lg:odd:ml-0;
}
