@use '@angular/material' as mat;
@import '@angular/material/theming';

// custom styles
@import './material/mat-table.scss';
@import './material/mat-form-field.scss';
@import './material/mat-select.scss';
@import './material/mat-button.scss';
@import './material/mat-dialog.scss';
@import './material/mat-date-picker.scss';
@import './material/mat-radio.scss';
@import './material/mat-input.scss';
@import './material/mat-list.scss';
@import './material/mat-tab.scss';
@import './material/mat-menu.scss';
@import './material/mat-chip.scss';
// COLOR PALETTE GENERATOR - http://mcg.mbitson.com/

$custom-success: (
	50: #e2f3e2,
	100: #b6e0b7,
	200: #86cb88,
	300: #55b658,
	400: #30a734,
	500: #0c9710,
	600: #0a8f0e,
	700: #08840c,
	800: #067a09,
	900: #036905,
	A100: #98ff99,
	A200: #65ff67,
	A400: #32ff35,
	A700: #19ff1c,
	contrast: (
		50: #000000,
		100: #000000,
		200: #000000,
		300: #000000,
		400: #ffffff,
		500: #ffffff,
		600: #ffffff,
		700: #ffffff,
		800: #ffffff,
		900: #ffffff,
		A100: #000000,
		A200: #000000,
		A400: #000000,
		A700: #000000,
	),
);

$custom-primary: (
	50: #e0f5fb,
	100: #b3e5f4,
	200: #80d4ed,
	300: #4dc3e5,
	400: #26b6e0,
	500: #00a9da,
	600: #00a2d6,
	700: #0098d0,
	800: #008fcb,
	900: #007ec2,
	A100: #ebf7ff,
	A200: #b8e3ff,
	A400: #85ceff,
	A700: #6bc4ff,
	contrast: (
		50: #000000,
		100: #000000,
		200: #000000,
		300: #000000,
		400: #000000,
		500: #ffffff,
		600: #ffffff,
		700: #ffffff,
		800: #ffffff,
		900: #ffffff,
		A100: #000000,
		A200: #000000,
		A400: #000000,
		A700: #000000,
	),
);

$custom-warn: (
	50: #fae3e3,
	100: #f2b9b9,
	200: #e98a8a,
	300: #e05b5b,
	400: #d93737,
	500: #d21414,
	600: #cd1212,
	700: #c70e0e,
	800: #c10b0b,
	900: #b60606,
	A100: #ffe0e0,
	A200: #ffadad,
	A400: #ff7a7a,
	A700: #ff6060,
	contrast: (
		50: #000000,
		100: #000000,
		200: #000000,
		300: #000000,
		400: #ffffff,
		500: #ffffff,
		600: #ffffff,
		700: #ffffff,
		800: #ffffff,
		900: #ffffff,
		A100: #000000,
		A200: #000000,
		A400: #000000,
		A700: #000000,
	),
);

// define colors
$light-primary: mat.define-palette($custom-primary);
$light-accent: mat.define-palette($custom-success);
$light-warn: mat.define-palette($custom-warn);

// define theme
$mat-theming-light: mat.define-light-theme(
	(
		color: (
			primary: $light-primary,
			accent: $light-accent,
			warn: $light-warn,
		),
	)
);

$custom-typography: mat.define-typography-level(
	$font-family: Pippins,
	$font-weight: 400,
	$font-size: 1rem,
	$line-height: 1,
	$letter-spacing: normal,
);

@include mat.core();
@include mat.all-component-themes($mat-theming-light);
