@import './custom/custom-paginator.scss';
@import './custom/custom-highcharts.scss';
@import './custom/custom-page-welcome.scss';

.g-custom-snack-bar {
	background-color: #232439 !important;
	color: #f6f6f7 !important;
	border-radius: 10px !important;
}

.g-section-title {
	color: var(--primary) !important;
	@apply text-2xl;
}

.g-background-card-color {
	@apply bg-gradient-to-r from-wt-background-dark to-wt-background-medium;
}

.g-error-banner {
	@apply text-lg text-center text-white bg-red-500 p-2 rounded-lg;
}

.g-banner-default {
	@apply p-4 text-lg text-center bg-wt-gray-dark rounded-lg;
}

.g-skeleton {
	@apply rounded-lg bg-wt-gray-medium animate-pulse;
}
