@import './custom/custom-paginator.scss';
@import './custom/custom-tooltip.scss';
@import './custom/custom-highcharts.scss';

body {
	background: linear-gradient(
		168.19deg,
		#0e1247 1.34%,
		rgb(22 29 93 / 95%) 16.59%,
		#182167 26.25%,
		#171b54 65.39%,
		#080f44 91.31%
	);
	color: var(--gray-light);
	padding: 24px;
	height: 100%;
	background-attachment: fixed;
}

.g-custom-snack-bar {
	background-color: #232439 !important;
	color: #f6f6f7 !important;
	border-radius: 10px !important;
}

.g-section-title {
	color: var(--primary-dark) !important;
	@apply text-2xl;
}

.g-background-card-color {
	@apply bg-gradient-to-r from-wt-background-dark to-wt-background-medium;
}
