@import './custom/custom-paginator.scss';

body {
	background-color: var(--color-main-background);
	color: var(--color-main-text);
	padding: 24px;
	// overflow-x: hidden;
	height: 100%;
	margin: 9;
}

.g-custom-snack-bar {
	background-color: #232439 !important;
	color: #f6f6f7 !important;
	border-radius: 10px !important;
}

/* mat tooltip */
.cdk-overlay-pane {
	&.mat-tooltip-panel {
		.mat-tooltip {
			color: var(--color-gray-200);
			background-color: var(--color-gray-800);
			border: 1px solid var(--color-gray-900);
			border-radius: 8px;
			font-size: 14px;
			padding: 14px;
			white-space: pre-line;
		}
	}
}
