$color-gray-100: #f1f2f6;
$color-gray-200: #dfe1e7;
$color-gray-300: #ccd0d6;
$color-gray-400: #c4cad0;
$color-gray-500: #a4acb7;
$color-gray-600: #737f90;
$color-gray-700: #58626f;
$color-gray-800: #474d53;
$color-gray-900: #1e2224;

:root {
	--color-main-background: #08405c;
	--color-main-text: #e9e9e9;
	--color-main-title: #e8501f;

	--color-chart-text: #c2c2c2;
	--color-chart-grid: #868686;
}
