:root {
	/* primary */
	--primary-dark: #12aaaa;

	/* success */
	--success-medium: #25b329;

	/* danger */
	--danger-medium: #d23131;

	/* gray */
	--gray-dark: #818690;
	--gray-medium: #9ca3af;
	--gray-light: #dcdcdc;

	/* table */
	--table-hover: #01383855;
	--table-border: #002424;

	/* background */
	--background-dark: #031e1e;
	--background-medium: #013838;
	--background-light: #064d4d;
	--backgroundDashboard: linear-gradient(
		168.19deg,
		#000607 1.34%,
		#000808 1.35%,
		#031b1b 33.36%,
		#021a1a 52.32%,
		#030000 98.93%
	);

	--disable-default: #3e5156;
}
