<div class="flex flex-col items-center justify-between gap-2 mb-2 lg:flex-row md:px-4">
	<div [formGroup]="formGroup" class="order-2 w-full lg:w-auto md:order-1">
		<!-- sector filter -->
		<div class="w-full lg:w-auto md:min-w-[350px]">
			<app-form-mat-input-wrapper
				[inputSource]="sectorAllocationInputSource"
				class="w-full lg:w-auto"
				controlName="selectedSector"
				inputCaption="Select sector"
				inputType="SELECT"
			></app-form-mat-input-wrapper>
		</div>
	</div>

	<div class="flex flex-col items-center order-1 w-full gap-2 lg:w-auto sm:flex-row md:order-2">
		<!-- add holding -->
		<button
			(click)="onAddClick()"
			mat-stroked-button
			type="button"
			color="accent"
			class="w-full mb-2 lg:w-auto g-button-size-lg"
		>
			<mat-icon>add</mat-icon>
			Add holding
		</button>

		<!-- show transactions -->
		<button
			(click)="onShowHistoryClick()"
			mat-stroked-button
			type="button"
			class="w-full mb-2 lg:w-auto text-wt-gray-medium g-button-size-lg"
		>
			<mat-icon>visibility</mat-icon>
			Show transactions
		</button>
	</div>
</div>
