<div class="w-[10px] h-full bg-green-300"></div>

<div class="flex items-center flex-4">
	<!-- image wrapper -->
	<div class="w-[40px] h-[40px] bg-slate-400"></div>

	<div class="flex flex-col p-2">
		<div class="flex items-center">
			<div class="text-gray-400 text-lg mr-3">{{ allocation.sectorName }}</div>
			<div class="text-gray-400 text-base">({{ allocation.symbols.length }})</div>
		</div>

		<!-- additional info -->
		<div class="flex items-center gap-2">
			<div class="text-lg mr-1">{{ allocation.value | currency }}</div>
			<div class="text-gray-400 text-base">({{allocation.value / totalInvestedAmount | percent }})</div>
		</div>
	</div>
</div>
