/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

// custom material scss
@import './theme/custom-material';
@import './theme/global.scss';
@import './theme/variables.scss';

// fonts
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

html,
body {
	height: 100%;
	color: black;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
}
