<div class="flex flex-col items-start gap-3 sm:items-center sm:flex-row">
	<img appDefaultImg [src]="authenticatedUser.imageUrl" alt="user image" class="h-[180px] w-[180px]" />

	<mat-list>
		<mat-list-item>
			<div matListItemTitle>Email:</div>
			<div matListItemLine>{{authenticatedUser.email}}</div>
		</mat-list-item>
		<mat-list-item>
			<div matListItemTitle>Username:</div>
			<div matListItemLine>{{authenticatedUser.username}}</div>
		</mat-list-item>
		<mat-list-item>
			<div matListItemTitle>Create:</div>
			<div matListItemLine>{{authenticatedUser.createdAt | date: 'dd.MM.YYYY'}}</div>
		</mat-list-item>
	</mat-list>
</div>
