<!-- account overview -->
<div class="grid gap-4">
	<!-- present yearly expenses -->
	<div class="flex flex-wrap gap-8 justify-center">
		<div class="g-color-primary text-2xl">● Balance: {{ accountState.total | currency }}</div>
		<div class="text-green-500 text-2xl">
			● Income: <span class="text-gray-200">{{ accountState.incomeTotal | currency }}</span>
		</div>
		<div class="text-red-500 text-2xl">
			● Expense: <span class="text-gray-200">{{accountState.expenseTotal | currency}}</span>
		</div>
	</div>

	<!-- add 2 charts, one for income, second for expesnse -->
	<app-generic-chart
		[heightPx]="375"
		[series]="weeklyChartData.series"
		[categories]="weeklyChartData.categories"
	></app-generic-chart>
</div>

<div class="flex flex-wrap gap-4 justify-center">
	<app-value-presentation-item
		*ngFor="let item of valueItems"
		[valueItem]="item"
		class="min-w-[120px]"
	></app-value-presentation-item>
</div>

<app-generic-chart
	[heightPx]="400"
	[series]="weeklyExpenseChartData.series"
	[categories]="weeklyExpenseChartData.categories"
></app-generic-chart>

<!-- daily data filter + table + spending allocation -->
<app-personal-account-daily-data-container
	[personalAccountMonthlyData]="personalAccount.monthlyData"
></app-personal-account-daily-data-container>
