<!-- present yearly expenses -->
<div
	*ngIf="accountState$ | async as accountState"
	class="px-4 flex flex-col md:flex-row justify-between md:justify-around mb-4"
>
	<div class="g-color-primary text-2xl flex justify-between md:justify-start gap-2">
		<span>● Balance:</span> <span>{{ accountState.total | currency }}</span>
	</div>
	<div class="text-green-500 text-2xl flex justify-between md:justify-start gap-2">
		<span>● Income:</span> <span class="text-gray-200">{{ accountState.incomeTotal | currency }}</span>
	</div>
	<div class="text-red-500 text-2xl flex justify-between md:justify-start gap-2">
		<span>● Expense:</span> <span class="text-gray-200">{{accountState.expenseTotal | currency}}</span>
	</div>
</div>

<!-- tag expense legend -->
<app-scroll-wrapper>
	<app-value-presentation-item
		[formControl]="expenseFormControl"
		[yearlyExpenseTotal]="yearlyExpenseTotal$ | async"
		[yearlyExpenseTags]="yearlyExpenseTags$ | async"
	></app-value-presentation-item>
</app-scroll-wrapper>

<div
	*ngIf="{
  categories: categories$ | async,
  expenseTagsChartData : expenseTagsChartData$ | async ,
  accountOverviewChartData: accountOverviewChartData$ | async
} as obs"
>
	<!-- account overview -->
	<app-personal-account-overview-chart
		*ngIf="obs.accountOverviewChartData && obs.categories && obs.expenseTagsChartData"
		[accountOverviewChartData]="obs.accountOverviewChartData"
		[expenseTagsChartData]="obs.expenseTagsChartData"
		[categories]="obs.categories"
	></app-personal-account-overview-chart>
</div>

<!-- daily data filter + table + spending allocation -->
<app-personal-account-daily-data-container
	[personalAccountBasic]="personalAccountBasic"
></app-personal-account-daily-data-container>
