<ng-container *ngIf="investmentAccount$ | async as investmentAccount">
	<!-- account state -->
	<div class="mb-4">
		<app-investment-account-state
			(cachChangeClickEmitter)="onChangeChangeClick()"
			[currentInvestedAmout]="(currentInvestedAmout$ | async) ?? 0"
			[totalInvestedAmount]="(totalInvestedAmount$ | async) ?? 0"
			[dailyInvestmentChange]="dailyInvestmentChange$ | async"
			[cashAmount]="investmentAccount.cashChange[investmentAccount.cashChange.length -1]?.cashValue ?? 0"
		></app-investment-account-state>
	</div>

	<div class="grid grid-cols-1 2xl:grid-cols-4 gap-4">
		<!-- account growth -->
		<app-investment-account-portfolio-growth-chart
			class="col-span-1 2xl:col-span-3"
			[investmentAccountGrowth]="investmentAccountGrowth$ | async"
		></app-investment-account-portfolio-growth-chart>

		<!-- sector allocation -->
		<app-scroll-wrapper [isFlexRow]="(layout2XL$ | async) === false" [flexColHeightPx]="420">
			<app-value-presentation-item
				[isFlexRow]="(layout2XL$ | async) === false"
				[formControl]="sectorFormControl"
				[items]="sectorAllocation$ | async"
				[multiSelect]="false"
				itemKey="sectorName"
			></app-value-presentation-item>
		</app-scroll-wrapper>
	</div>

	<!-- active investmnts table -->
	<app-investment-account-active-holdings-table
		(holdingClickedEmitter)="onAddHolding($event)"
		(addEmitter)="onAddHolding()"
		(showHistoryEmitter)="onShowHisotry()"
		[totalInvestedAmount]="totalInvestedAmount$ | async"
		[activeHoldings]="filteredActiveHoldings$ | async"
	></app-investment-account-active-holdings-table>
</ng-container>
