<ng-container *ngIf="investmentAccount$ | async as investmentAccount">
	<!-- account state -->
	<app-investment-account-state
		[currentInvestedAmout]="(currentInvestedAmout$ | async) ?? 0"
		[totalInvestedAmount]="(totalInvestedAmount$ | async) ?? 0"
		[dailyInvestmentChange]="dailyInvestmentChange$ | async"
		[cashAmount]="investmentAccount.cashChange[investmentAccount.cashChange.length -1]?.cashValue ?? 0"
	></app-investment-account-state>

	<div class="grid grid-cols-1 2xl:grid-cols-4 gap-4">
		<!-- account growth -->
		<app-investment-account-portfolio-growth-chart
			class="col-span-1 2xl:col-span-3"
			[investmentAccountGrowth]="investmentAccountGrowth$ | async"
		></app-investment-account-portfolio-growth-chart>

		<!-- sector allocation -->
		<app-scroll-wrapper [isFlexRow]="(layout2XL$ | async) === false" [flexColHeightPx]="420">
			<app-investment-account-sector-allocation
				*ngFor="let allocation of sectorAllocation$ | async"
				[allocation]="allocation"
				[totalInvestedAmount]="(totalInvestedAmount$ | async) ?? 0"
			></app-investment-account-sector-allocation>
		</app-scroll-wrapper>
	</div>

	<!-- active investmnts table -->
	<app-investment-account-active-holdings-table
		[totalInvestedAmount]="totalInvestedAmount$ | async"
		[activeHoldings]="investmentAccount.activeHoldings"
	></app-investment-account-active-holdings-table>
</ng-container>
