<div class="flex flex-col-reverse justify-end gap-3 px-3 text-start md:items-center md:flex-row sm:justify-between">
	<span class="text-wt-gray-medium">
		{{ 'Invested: ' + (startDate | date: 'MMM d, y') + ' - ' + (endDate | date: 'MMM d, y') }}
	</span>

	<!-- action buttons -->
	<div class="flex flex-col items-center w-full gap-2 md:w-auto sm:gap-4 sm:flex-row">
		<button class="w-full md:w-auto" mat-flat-button color="primary" (click)="onAssetShowClick()">
			<mat-icon>open_in_new</mat-icon>
			Show Asset Chart
		</button>
		<button
			class="w-full md:w-auto"
			*ngIf="showFullChartButton"
			mat-stroked-button
			color="primary"
			(click)="onFullChartShow()"
		>
			Toggle Full Chart
		</button>
	</div>
</div>
